-#coding:utf-8
.content
  %form{:method=>'POST',:action=>'/cache'}
    .row
      .col-md-3.col-md-offset-3.clearfix
        %h2 Cache update
        %p Check the models you wish to update.
        %input.index{:type=>'checkbox',:name=>'conflicts',:checked=>true} &nbsp;  Conflicts
        %br/
        %input{:type=>'checkbox',:name=>'categories',:checked=>true} &nbsp;  Categories (2nd level)
        %br/
        %input.index{:type=>'checkbox',:name=>'countries',:checked=>true} &nbsp;  Countries
        %br/
        %input.index{:type=>'checkbox',:name=>'companies',:checked=>true} &nbsp;  Companies
        %br/
        %input.index{:type=>'checkbox',:name=>'ifis',:checked=>true} &nbsp; IFI's
        %br/
        %input{:type=>'checkbox',:name=>'commodities',:checked=>true} &nbsp;  Commodities
        %br/
        %input.index{:type=>'checkbox',:name=>'filter',:checked=>true} &nbsp;  Filter
        %br/
        %input{:type=>'checkbox',:name=>'featureds',:checked=>true} &nbsp;  Featured Maps
        -#
          %br/
          %input{:type=>'checkbox',:name=>'images'} &nbsp;  Images
        %br/
        %a{:href=>"#",:onclick=>"deselect()"} Deselect all
        %br/
        %br/
        %select{:name=>"locale"}
          -@tkeys.each do |loc|
            -if (["admin","editor"].include?(current_account.role) or current_account.editor_in.include?(loc.to_s))
              %option{:value=>loc,:selected=>(loc.to_sym === I18n.locale)}= @iso639[loc]
        %br/
        %br/
        -if current_account.role == "admin"
          %input#reindex{:type=>'checkbox',:name=>'reindex'} &nbsp;  Reindex
          %br/
          %br/
        %input.btn.full.btn-warning{:type=>'submit',:value=>'UPDATE NOW'}
        %br/
        %br/
        -if current_account.role == "admin"
          %input.btn.full.btn-danger{:onclick=>"update_all();",:value=>'UPDATE ALL'}
          :javascript
            function update_all() {
              $.post("/update_all_cache",function(data){
                if (data == "ack") {
                  window.location = "/jobs"
                }
              })
            }
          %br/
          %br/
        %p
          Last updated:
          %ul{:style=>"padding:0;"}
            -Cached.order("updated_at desc").each do |ca|
              -if @tkeys.include?(ca.locale) and (["admin","editor"].include?(current_account.role) or current_account.editor_in.include?(ca.locale.to_s))
                %li{:style=>"list-style-type:none;"}
                  %b= "#{@iso639[ca.locale]}:"
                  = "#{Admin.divtime((Time.now - ca.updated_at), false, false)} ago"

  :javascript
    function deselect() { $('input[type=checkbox]').attr('checked',false); }
    $("#reindex").on("change",function(e){
      if ($(this).prop("checked")) {
        $(".index").prop("checked","true").prop("disabled",true)
      } else {
        $(".index").prop("disabled",false)
      }
    })
