.row
  .col-md-4
    %h3 Edit filter
    %span
      UID:
      %b= @filter.uid
    %pre#query{:style=>"font-family:sans-serif, sans; line-height:16px;"}

  .col-md-8
    #filter-row.block{'data-width'=>350}
      #filter= render "base/filter", :layout => false

-content_for :body_end do
  :css
    #conflict_filter, #conflict_filter .body { height: unset}
  :javascript
    $(document).ready(function(){
      data = #{@filter.query.html_safe};
      hash = #{@filterhash.to_json.html_safe};
      console.log(data)
      //$("pre#query").html(JSON.stringify(data, undefined, 2))
      dive(data,[],hash)
    })
    function saveFilter(data){
      $.ajax({
        type: "POST",
        url: "/savefilter",
        data: {uid:"#{@filter.uid}",data:serializeFilter().query},
        success: function(uid){
          alert(window.location.origin+"/embed_filter/"+uid)
        }
      })
    }

