-# coding: utf-8
-content_for :include do
  :javascript
    img = new Image(330,30);
    img.src = 'https://file.ejatlas.org/static/ikon.png';
    var markerinfo = #{@markerinfo.gsub('\\"', '"').gsub('","',',').sub(/^\["/,'[').sub(/",\]$/,']')};
    var vectorinfo = [];
    var maptitle = "#{@maptitle}";
    var layers = "#{@baselayers}";
    var fid = #{@fid || 0};
  -if @vectors
    :javascript
      vectorinfo = #{@vectors};
  :javascript
    window.onload = onLoad;
    function onLoad() {
      if (typeof initMap === 'function' ) {
        updateInfo(1,"<h3>#{@maptitle}</h3><p>#{@markercount} cases reported</p>")
        mapFit();
      } else {
        setTimeout(onLoad,10);
      }
    }

.front
  -if @defs
    %svg{:style=>'height:0'}
      %defs
        -@defs.each do |d|
          %pattern{:id=>"#{d['filename']}",:patternUnits=>"userSpaceOnUse",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}
            %image{"xlink:href"=>"https://file.ejatlas.org/patterns/#{d['filename']}.png",:x=>"0",:y=>"0",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}

  .summary_header
    .clearfix
      -if @image and @image.length > 0
        %img.pull-left{:src=>@image ,:style=>'max-height:20px;width:auto;margin:4px 12px 20px 0px;'}
        .pull-left
          %h2= @name
      -else
        .pull-left
          %h2= @name

  -if @description and @description.length > 0 or @maptitle.length > 0 and @feature
    .horipane
      .title.active Description
      .content
        -if @feature
          .clearfix#disclaimer
            -if @maptitle.length > 0
              %h2= @maptitle
            %p.description= @description.gsub("\n","<br />").html_safe
        -else
          %p.description= @description.gsub("\n","<br />").html_safe
              
  -#.horipane
    .title.active Info
    .content
      #infopane

  .horipane
    .title.active{:class=> @feature ? "" : "active"} Legend
    .content
      #legendpane
        .legend.noselect.block{'data-width'=>220}

  -if @load and @load.length > 0
    .horipane
      .title.active Cases
      .content
        -if @feature
          .clearfix#disclaimer
            =(@load || "").html_safe
          .clearfix
            %h2.pull-left#name
        -else
          .clearfix#disclaimer
            %h2{:style=>"margin-top:0"}= @maptitle
            =@load.html_safe
          .clearfix
            %h2.pull-left#name
