-# coding: utf-8
-content_for :include do
  :javascript
    img = new Image(330,30);
    img.src = 'https://file.ejatlas.org/static/ikon.png';
    var markerinfo = eval("["+#{@markerinfo||"[]"}.join(',')+"]");
    var filterinfo = eval("["+#{@filterinfo||"[]"}.join(',')+"]");
    var vectorinfo = [];
  -if @vectors
    :javascript
      vectorinfo = #{@vectors};
  :javascript
    window.onload = function(){
      initMap(markerinfo,"#{@maptitle}", "#{@baselayers}", vectorinfo, #{@fid || 0});
      updateInfo(1,#{@markercount > 0 ? "'<h3>#{@maptitle}</h3><p>#{@markercount} cases reported</p>'" : '""'})
      mapFit();
    }

.front
  -if @defs
    %svg{:style=>'height:0'}
      %defs
        -@defs.each do |d|
          %pattern{:id=>"#{d['filename']}",:patternUnits=>"userSpaceOnUse",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}
            %image{"xlink:href"=>"https://file.ejatlas.org/patterns/#{d['filename']}.png",:x=>"0",:y=>"0",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}

  .summary_header
    %br/
    .clearfix
      -if @image
        %img.pull-left{:src=>@image.file.url,:style=>'max-height:50px;width:auto;margin-right:12px;'}
      .pull-left
        %h1{:style=>'margin:0;font-size: 30px'}= @name
    %br/

  .horipane
    .title.active Info
    .content
      %br/
      #infopane
      %br/

  -if @load and @load.length > 0
    .horipane
      .title.active{:class=> @feature ? "" : "active"} Legend
      .content
        %br/
        #legendpane
        %br/

  -if @description and @description.length > 0  
    .horipane
      .title.active Description
      .content
        %br/
        -if @feature
          .clearfix#disclaimer
            %h2= @maptitle
            -if @description
              %p.description= @description.gsub("\n","<br />").html_safe
        -else
          %p.description= @description.gsub("\n","<br />").html_safe
        %br/
              
  -if @load and @load.length > 0
    .horipane
      .title.active Cases
      .content
        %br/
        -if @feature
          .clearfix#disclaimer
            =(@load || "").html_safe
          .clearfix
            %h2.pull-left#name
        -else
          .clearfix#disclaimer
            %h2{:style=>"margin-top:0"}= @maptitle
            =@load.html_safe
          .clearfix
            %h2.pull-left#name
        %br/
