-# coding: utf-8
-content_for :body_end do
  :css
    a.sort {
      cursor: pointer;
      font-weight: bold;
      display: block;
      margin: 0 0 8px 0;
      font-size: 12px;
    }
  :javascript
    img = new Image(330,30);
    img.src = '#{$fileurl}/static/ikon.png';
    var vectorinfo = [];
    var markerinfo = []
    var maptitle = "#{@maptitle}";
    var layers = "#{@baselayers}";
    var fid = #{@fid || 0};
  -if @vectors
    :javascript
      vectorinfo = #{@vectors};
  :javascript
    $(document).ready(function(){
      $.each(#{@markerinfo.html_safe}, function(i,e){
        if (e.l.match(/#{I18n.default_locale}/)) {
          markerinfo.push(e)
        }
      })
      onLoad();
    })
    function onLoad() {
      if (typeof initMap === 'function' ) {
        initMap();
        console.log("xxx")
        showMarkers(markerinfo);
        console.log("xxx")
        updateInfo(1,"<p>#{t("v.index.var_cases_reported", num_cases:@markercount)}</p>")
        mapFit();
      } else {
        setTimeout(onLoad,10);
      }
    }

.front
  %svg{:style=>'height:0'}
    -if @defs
      %defs
        -@defs.each do |d|
          %pattern{:id=>"#{d['filename']}",:patternUnits=>"userSpaceOnUse",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}
            %image{"xlink:href"=>"#{$fileurl}/patterns/#{d['filename']}.png",:x=>"0",:y=>"0",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}

  .summary_header
    .clearfix#share
      %div{:class=>$dir=="ltr" ? "pull-right" : "pull-left"}
        %a{:href=>"https://twitter.com/intent/tweet?text=#{CGI.escape("Check out ‘#{@title}‘ on #EJAtlas: ")}&url=#{$siteurl+request.path}",:target=>"_blank",:title=>"Tweet"}
          #share_tw 
            #img &nbsp;
      %div{:class=>$dir=="ltr" ? "pull-right" : "pull-left"}
        %a{:href=>"https://www.facebook.com/sharer/sharer.php?u=#{CGI.escape($siteurl+request.path)}",:target=>"_blank",:title=>"Share on Facebook"}
          #share_fb 
            #img &nbsp;

    .clearfix
      -if @image and @image.length > 0
        %img{:class=>$dir=="ltr" ? "pull-left" : "pull-right",:src=>@image ,:style=>$dir=="ltr" ? 'max-height:20px;width:auto;margin:4px 12px 20px 0px;' : 'max-height:20px;width:auto;margin:4px 0 20px 12px;'}
        %div{:class=>$dir=="ltr" ? "pull-left" : "pull-right"}
          %h2= @name
          #infopane
      -else
        %div{:class=>$dir=="ltr" ? "pull-left" : "pull-right"}
          %h2= @name
          #infopane

  -if @description and @description.length > 0 or @maptitle.length > 0 and @feature
    .horipane.description
      .title.active Description
      .content
        -if @feature
          .clearfix#disclaimer
            -if @maptitle.length > 0
              %h2= @maptitle
        -dar = @description.gsub("\n","<br />").split(/<br\s?\/?>/)
        -if dar.length > 1
          %p.description
            .less= dar[0].html_safe
            %a.seemore{:href=>"#"} See more...
            .more{:style=>'display:none;'}
              =dar[1..-1].join('<br />').html_safe
              -#%a.seeless{:href=>"#"}(See less)
        -else
          %p.description= @description.gsub("\n","<br />").html_safe
              

  .horipane
    .title= t "v.index.legend"
    .content{:style=>'display:none'}
      #legendpane.clearfix{"data-help"=>"popover","data-placement"=>"left","title"=>"","data-content"=>"Select the layers here"}
        .pull-right
          %select.leg
            -{t("v.filter.category")=>"category_id",t("v.filter.reaction_stage")=>"reaction_id",t("v.filter.intensity")=>"status_id",t("v.filter.project_status")=>"project_status_id"}.each do |name,attr|
              %option{:value=>attr}= name
          %br/
          %a.pull-right{:onclick=>"setLegend(0);"}=t("v.index.see_all")
        .legend.noselect.pull-left
          -{Category=>"category_id",Reaction=>"reaction_id",Status=>"status_id",ProjectStatus=>"project_status_id"}.each do |model,attr|
            %table{:class=>attr,:style=>(attr == "category_id" ? "" : "display:none;")}
              %tbody
                -model.order(:id).each do |leg|
                  -next if leg.name.slug == "other"
                  %tr
                    %td.icon
                      .vis.map-icon{:class=>"#{attr[0]}_#{leg.id}"}
                        %td.desc{:class=>"#{attr[0]}_#{leg.id}"}= t("m.#{attr}.#{leg.name.slug("_").split("_")[0..7].join("_")}").gsub(/\([^\)]\)/,"").strip

  -if @browseinfo
    -@browseinfo.each do |k,v|
      .horipane.browse
        .title.active
          = t "v.index.by_#{k.slug("_")}"
        .content
          %div{:id=>"browse#{k}"}
            %a.sort.count{:onclick=>"toggle_browse('#{k}','alpha')"}= t("v.index.sort_alphabetically") # "A > Z"
            %a.sort.alpha{:onclick=>"toggle_browse('#{k}','count')",:style=>"display:none;"}= t("v.index.sort_by_frequency") #"9 > 1"
            -v.each_with_index do |vv,ii|
              %ul.columns{:class=>ii==0 ? "count" : "alpha", :style=>ii==0 ? "" : "display:none;"}
                -vv.each do |c|
                  -j = JSON.parse c[0]
                  -scope = {"commodity"=>"m.products","country"=>"countries","type"=>"m.types"}[k]
                  -if k == "company"
                    %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe
                  -elsif k == "country"
                    %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe
                  -else
                    %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe


  .horipane
    .title.active Cases
    .content
      .clearfix#disclaimer
        %h2{:style=>"margin-top:0"}= @maptitle
        %table
          %tbody.recent


-content_for :body_end do
  :javascript
    $page_query = '{"#{@qt}":"#{@id}"}';
    $query = '{"should":{"term":'+$page_query+'}}';
-unless @browseinfo
  -content_for :body_end do
    :javascript
      scrolling = true;
      function fillWithCases() {
        if ( $('#rightpane').scrollTop() + window.innerHeight >= $('#rightpane')[0].scrollHeight) { 
          $('body').css('cursor','wait');
          ask();
        }
      }
      function ask() {
        if(!scrolling) return
        $.getJSON("/more_recent","offset="+$('.recent tr').length+"&filter="+$query,function(data){
          if (data.length < 6) {
            scrolling = false;
          }
          $.each(data,function(i,n) {
            n = n.conflict
            if ($('#recent_'+n.id).length == 0){
              row = "<tr class='block conflict-button' data-id="+n.id+" data-width='360' id='recent_"+n.id+"'><td class='image'><a href='/conflict/"+n.slug+"'><div class='img' style='background:url("+n.image+")'></div></a></td><td class='exp'><p><strong><a href='/conflict/"+n.slug+"'>"+n.name+"</a></strong></p><p atyle='margin:0;padding:0;font-size:12px;line-height:16px;'>"+(typeof n.headline == "undefined" ? "" : n.headline)+"</p></td></tr>"
              $('tbody.recent').append(row);
            }
          });
          dragEnd();
          $('body').css('cursor','auto');
          fillWithCases();
        })
      }
      $(document).ready(function(){
        fillWithCases();
        $('#rightpane').scroll(function() {
          if(!scrolling) return
          if ( $('#rightpane').scrollTop() + window.innerHeight >= $('#rightpane')[0].scrollHeight) { 
            $('body').css('cursor','wait');
            fillWithCases();
          }
        });
      })
-else
  :javascript
    function toggle_browse(type,sort) {
      $("#browse"+type+" a.sort").hide();
      $("#browse"+type+" a.sort."+sort).show();
      $("#browse"+type+" > ul.columns").slideUp(200,function(){
        $("#browse"+type+" > ul.columns."+sort).slideDown(400);
      });
      resetColumns();
    }
    function ask() {}

