-# coding: utf-8
-content_for :include do
  :javascript
    img = new Image(330,30);
    img.src = 'https://s3.amazonaws.com/ejatlas/static/ikon.png';
    var markerinfo = eval("["+#{@markerinfo||"[]"}.join(',')+"]");
    var filterinfo = eval("["+#{@filterinfo||"[]"}.join(',')+"]");
    var vectorinfo = [];
  -if @vectors
    :javascript
      vectorinfo = #{@vectors};
  :javascript
    window.onload = function(){
      initMap(markerinfo,"#{@maptitle}", #{(@baselayers || $baselayers)},vectorinfo, #{@fid || 0});
      updateInfo(1,"<h3>#{@maptitle}</h3><p>#{@markercount} cases reported</p>")
      mapFit();
    }

.front
  .tagline
    %a{:href=>'http://www.ejolt.org',:target=>'_blank'}
      .ejolt-logo
    %p= $pagedesc
    -if @defs
      %svg{:style=>'height:0'}
        %defs
          -@defs.each do |d|
            %pattern{:id=>"#{d['filename']}",:patternUnits=>"userSpaceOnUse",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}
              %image{"xlink:href"=>"https://s3.amazonaws.com/ejatlas/patterns/#{d['filename']}.png",:x=>"0",:y=>"0",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}
  -if @layout != :full
    #map.map
  .summary_header
    %br/
    .row
      .col-md-12
        -if @image
          %img.pull-left{:src=>@image.file.url,:style=>'max-height:50px;width:auto;margin-right:12px;'}
        .pull-left
          %h1{:style=>'margin:0;font-size: 48px'}= @name
    -if @description and @description.length > 0 and not @feature
      %br/
      %br/
      .row
        .col-md-7
          %p.description= @description.gsub("\n","<br />").html_safe

        .col-md-5
          .clearfix#disclaimer
            %h2{:style=>"margin-top:0"}= @maptitle
            =@load.html_safe

          .clearfix
            %h2.pull-left#name
    -else
      .clearfix#disclaimer
        %h2= @maptitle
        -if @description
          %p.description= @description.gsub("\n","<br />").html_safe
        =(@load || "").html_safe
      .clearfix
        %h2.pull-left#name
          
-content_for :sidebar do
  #infopane{:style=>'height:340px;'}
  -unless @feature
    =partial("base/sidebar")

