-# coding: utf-8
-content_for :include do
  :javascript
    img = new Image(330,30);
    img.src = '#{$fileurl}/static/ikon.png';
    var markerinfo;
    var vectorinfo = [];
    var maptitle = "#{@maptitle}";
    var layers = "#{@baselayers}";
    var fid = 0;
  -if @vectors
    :javascript
      vectorinfo = #{@vectors};

-#content_for :fb do
  #fb-root
  :javascript
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=842943955772994";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

-content_for :outer do
  #welcome.modal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{:type=>'button','data-dismiss'=>'modal','aria-hidden'=>true} &times;
          %h4
            %strong= t("v.help.welcome_to_environmental_justice_atlas")
        .modal-body
          %p= t("v.help.ej_atlas_is_teaching_networking")
          %p
            %strong= t("v.help.please_click_markers_on_map")
          .clearfix
            %div{:class=>$dir=="ltr" ? "pull-right" : "pull-left"}
              %input{:type=>'checkbox',:checked=>true}= " &nbsp; #{t("v.help.do_not_show_this_information")}".html_safe

.front
  -if @defs
    %svg{:style=>'height:0'}
      %defs
        -@defs.each do |d|
          %pattern{:id=>"#{d['filename']}",:patternUnits=>"userSpaceOnUse",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}
            %image{"xlink:href"=>"#{$fileurl}/patterns/#{d['filename']}.png",:x=>"0",:y=>"0",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}

  #help.clearfix
    %div{:class=>$dir=="ltr" ? "pull-right" : "pull-left"}
      %h4
        %strong{:style=>'left:0',"data-help"=>"popover","data-placement"=>"left","title"=>"","data-content"=>t("v.help.show_this_help")} ?
    %div{:class=>$dir=="ltr" ? "pull-right" : "pull-left"}
      %a{:href=>"https://twitter.com/intent/tweet?text=#{CGI.escape("Check out the #EJAtlas,")}&url=#{$siteurl}",:target=>"_blank",:title=>t("v.social.tweet")}
        #share_tw 
          #img &nbsp;
    %div{:class=>$dir=="ltr" ? "pull-right" : "pull-left"}
      -#.fb-like{"data-href"=>"https://developers.facebook.com/docs/plugins/","data-layout"=>"button","data-action"=>"like","data-show-faces"=>"true","data-share"=>"true"}
      %a{:href=>"https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fejatlas.org",:target=>"_blank",:title=>t("v.social.share_on_facebook")}
        #share_fb 
          #img &nbsp;
  .clearfix
    #head
      %br/
      %h3
        %strong= t "v.index.#{@maptitle.shorten_en}"
      %p
        %strong= t "v.index.var_cases_reported", num_cases: @markercount
      -if current_account and (current_account.role === "admin" or current_account.role === "editor")
        %p
          %form#search
            .form-group{:style=>"font-size:18px;"}
              %input.search{:type=>"text",:style=>"font-size:14px",:placeholder=>"Word search"}
              %a{:type=>"submit"}
                %span.glyphicon.glyphicon-search.search-button{:style=>"color:#0380a5;cursor:pointer;"}
      %h4{:style=>'padding:12px 0;font-weight:bold;font-size:14px;'}
        =t("v.index.you_can").gsub(/\s+/,"&nbsp;").html_safe
        %a{:href=>'/accounts/new'}= t("v.index.contribute_to_ej_atlas").gsub(/\s+/,"&nbsp;").html_safe
        =t("v.index.and_or").gsub(/\s+/,"&nbsp;").html_safe
        %a{:href=>'https://docs.google.com/forms/d/1jGi8V-8-0YVRjqZXV1NN2SkSMj9TT7H4JIH44HDq6IA/viewform'}=t("v.index.fill_out_our_survey").gsub(/\s+/,"&nbsp;").html_safe

  .horipane{"data-help"=>"popover","data-placement"=>"bottom","title"=>"","data-content"=>t("v.help.drop_down_each_pane")}
    .title= t "v.index.legend"
    .content{:style=>'display:none'}
      #legendpane
        .legend.noselect
          %table
            %tbody
              %tr
                %td.icon
                  .vis.map-icon.i_1
                    %td.desc.i_1= t("m.category_id.nuclear").gsub(/\([^\)]\)/,"").strip
              %tr
                %td.icon
                  .vis.map-icon.i_2
                %td.desc.i_2= t("m.category_id.mineral_ores_and_building_materials_extraction").gsub(/\([^\)]+\)/,"").strip
              %tr
                %td.icon
                  .vis.map-icon.i_3
                %td.desc.i_3= t("m.category_id.waste_management").gsub(/\([^\)]+\)/,"").strip
              %tr
                %td.icon
                  .vis.map-icon.i_4
                %td.desc.i_4= t("m.category_id.biomass_and_land_conflicts_forests_agriculture_fisheries_and").gsub(/\([^\)]+\)/,"").strip
              %tr
                %td.icon
                  .vis.map-icon.i_5
                %td.desc.i_5= t("m.category_id.fossil_fuels_and_climate_justice_energy").gsub(/\([^\)]+\)/,"").strip
              %tr
                %td.icon
                  .vis.map-icon.i_6
                %td.desc.i_6= t("m.category_id.water_management").gsub(/\([^\)]+\)/,"").strip
              %tr
                %td.icon
                  .vis.map-icon.i_7
                %td.desc.i_7= t("m.category_id.infrastructure_and_built_environment").gsub(/\([^\)]+\)/,"").strip
              %tr
                %td.icon
                  .vis.map-icon.i_8
                %td.desc.i_8= t("m.category_id.tourism_recreation").gsub(/\([^\)]+\)/,"").strip
              %tr
                %td.icon
                  .vis.map-icon.i_9
                %td.desc.i_9= t("m.category_id.biodiversity_conservation_conflicts").gsub(/\([^\)]+\)/,"").strip
              %tr
                %td.icon
                  .vis.map-icon.i_10
                %td.desc.i_10= t("m.category_id.industrial_and_utilities_conflicts").gsub(/\([^\)]+\)/,"").strip

  -#if current_account
  .horipane#filter-container
    .title= t "v.filter.filter"
    .content{:style=>'display:none;'}
      #filter-row.block{'data-width'=>350}
        #filter= @filter

  .horipane
    .title= t "v.index.browse_maps"
    .content{:style=>'display:none;'}
      -@browseinfo.each do |k,v|
        .horipane.browse
          .title{:style=>'background:transparent'}= t "v.index.by_#{k.slug}"
          .content{:style=>'display:none;'}
            %div{:id=>"browse#{k}"}
              %ul.columns
                -v.each do |c|
                  -j = JSON.parse c[0]
                  -scope = {"commodity"=>"m.products","country"=>"countries","type"=>"m.types"}[k]
                  -if k == "company"
                    %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe
                  -elsif k == "country"
                    %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe
                  -else
                    %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe



  -#.horipane
    .title= t "v.index.get_involved"
    .content.social{:style=>'display:none;'}

      .block{"data-width"=>240}
        %a.btn.btn-twitter.full{:href=>"https://twitter.com/intent/tweet?text=#{CGI.escape("Check out the #EJAtlas, mapping environmental justice:")}&url=#{$siteurl}",:target=>"_blank",:title=>"Tweet"}= t "v.index.tweet_about_ej_atlas"
        %a.twitter-timeline{'data-dnt'=>"true",:href=>"https://twitter.com/EnvJustice",'data-widget-id'=>"498025848931246080",'data-chrome'=>'nofooter noborders',:height=>490} 
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");

      .block{"data-width"=>240}
        %a.btn.btn-facebook.full{:href=>"https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fejatlas.org",:target=>"_blank",:title=>"Share on Facebook"}= t "v.index.share_on_facebook"
        .fb-page{"data-href"=>"https://www.facebook.com/ejolt","data-tabs"=>"timeline","data-small-header"=>"true","data-adapt-container-width"=>"true","data-hide-cover"=>"false","data-show-facepile"=>"true"}
          %blockquote.fb-xfbml-parse-ignore{:cite=>"https://www.facebook.com/ejolt"}
            %a{:href=>"https://www.facebook.com/ejolt"} Environmental Justice


  -if @feats
    .horipane
      .title.active= t "v.index.featured_maps"
      .content
        %table
          %tbody.feats
            -@feats.each do |c|
              %tr.block{"data-width"=>360}
                %td.image
                  %a{:href=>"/featured/#{c.slug}"}
                    -if c.images.where(:prime=>true).any?
                      .img{:style=>"background:url('#{c.images.where(:prime=>true).first.file.thumb.url}');background-repeat:no-repeat;background-size:contain;"}
                    -else
                      .img{:style=>(c.images.any? ? "background:url('#{c.images.order("updated_at desc").first.file.thumb.url}');background-repeat:no-repeat;background-size:contain;" : "")}
                %td.exp
                  %h4
                    %a{:href=>"/featured/#{c.slug}"}= c.name
                  =c.headline
  -if @recent
    .horipane
      .title.active= t "v.index.recently_updated_conflicts"
      .content
        %table
          %tbody.recent
            -@recent.each do |c|
              -next if Conflict.where(:id=>c["id"]).empty?
              %tr.block.conflict-button{"data-id"=>c["id"],"data-width"=>360,:id=>"recent_#{c["id"]}"}
                %td.image
                  %a{:href=>"/conflict/#{c["slug"]}"}
                    -con = Conflict.find(c["id"])
                    .img{:style=>(con.images.any? ? "background:url('#{con.images.first.file.thumb.url}');" : "")}
                %td.exp
                  %p
                    %strong
                      %a{:href=>"/conflict/#{c["slug"]}"}= c["name"]#.split(',')[0]
                      -ago = ((Time.now-con.modified_at)/(60*60*24)).to_i
                      -if con.commented
                        %small commented
                  %p{:style=>'margin:0;padding:0;font-size:12px;line-height:16px;'}= c["headline"]
            -if @recent.length < 6
              :javascript
                var scrolling = false;
            -else
              :javascript
                var scrolling = true;

-content_for :body_end do
  :javascript
    $(document).ready(function(){
      $('#help').on('click',function(){
        $('#welcome').modal('show');
      })
      $('#welcome input').on('change',function(){
        localStorage['hideHelp'] = $(this).prop('checked')
      })
      $('#welcome').on('shown.bs.modal',function(){
        showPopovers();
      });
      $('#welcome').on('hidden.bs.modal',function(){
        $('.popover').detach();
      });
      if (localStorage['hideHelp'] == "true") {
        $('#welcome input').prop('checked',true)
      } else {
        $('#welcome').modal('show');
      }
      fillWithCases();
      $('#rightpane').scroll(function() {
        if(!scrolling) return
        if ( $('#rightpane').scrollTop() + window.innerHeight >= $('#rightpane')[0].scrollHeight) { 
          $('body').css('cursor','wait');
          ask();
        }
      });
      onLoad();
    });
    function onLoad() {
      if (typeof initMap === 'function' ) {
        initMap();
        $.ajax({
          //url: "#{$fileurl}/markers/markers-#{I18n.locale}.json",
          url: "/data/markers-#{I18n.locale}.json",
          type: "GET",
          dataType: 'json',
          cache: true,
          success: function (data, status, error) {
            showMarkers(data);
          },
          error: function (data, status, error) {
            console.log('error', data, status, error);
          }
        });
        updateInfo(1,"<h3>#{@maptitle}</h3><p>#{t("index.var_cases_reported", num_cases:@markercount)}</p>")
        $("form#search").on("submit",function(e){
          e.preventDefault();
          $.post("/search",{token:$("input.search").val()},function(data){
            data = JSON.parse(data);
            //$('#head p strong').text(data.length+" case"+(data.length < 2 ? "" : "s")+" filtered")
            if (data.length == 0) {
              $('#head p strong').text("#{t 'v.filter.no_cases_found'}")
            } else if (data.length == 1) {
              $('#head p strong').text("#{t 'v.filter.one_case_filtered'}")
            } else {
              $('#head p strong').text("#{t 'v.filter.var_cases_filtered',num_cases:'data_length'}".replace("data_length",data.length))
            }
            filterMarkers(data);
          })
        })
      } else {
        setTimeout(onLoad,10);
      }
    }
    function fillWithCases() {
      if ( $('#rightpane').scrollTop() + window.innerHeight >= $('#rightpane')[0].scrollHeight) { 
        $('body').css('cursor','wait');
        ask();
      }
    }
    function resetColumns() {
      columns = $('.browse .title.active').next('.content').find('.columns');
      if (columns.length > 0) {
        iColumns = String(Math.max(1,Math.floor(columns.width()/200)));
        $('.columns').css('column-count', iColumns);
        $('.columns').css('-moz-column-count', iColumns);
        $('.columns').css('-webkit-column-count', iColumns);
      }
    }
    function ask() {
      if(!scrolling) return
      $.getJSON("/more_recent","offset="+$('.recent tr').length,function(data){
        if (data.length < 6) {
          scrolling = false;
        }
        $.each(data,function(i,n) {
          n = n.conflict
          if ($('#recent_'+n.id).length == 0){
            row = "<tr class='block conflict-button' data-id="+n.id+" data-width='360' id='recent_"+n.id+"'><td class='image'><a href='/conflict/"+n.slug+"'><div class='img' style='background:url("+n.image+")'></div></a></td><td class='exp'><p><strong><a href='/conflict/"+n.slug+"'>"+n.name+"</a></strong></p><p atyle='margin:0;padding:0;font-size:12px;line-height:16px;'>"+n.headline+"</p></td></tr>"
            $('tbody.recent').append(row);
          }
        });
        dragEnd();
        $('body').css('cursor','auto');
        fillWithCases();
      })
    }
    function showPopovers(){
      $('.popover').detach();
      $('[data-help="popover"]').popover('show');
      $.each($('.popover'),function(i,e){
        pos = $(e).offset();
        $(e).css('position','fixed');
        $(e).css('top',pos.top);
        $(e).css('left',pos.left);
      });
      $('.popover').insertAfter("#welcome");
    }

