-# coding: utf-8
-content_for :include do
  :javascript
    img = new Image(330,30);
    img.src = 'https://file.ejatlas.org/static/ikon.png';
    var markerinfo = eval("["+#{@markerinfo}.join(',')+"]");
    var filterinfo = eval("["+#{@filterinfo}.join(',')+"]");
    var vectorinfo = [];
  -if @vectors
    :javascript
      vectorinfo = #{@vectors};
  :javascript
    window.onload = onLoad;
    function onLoad() {
      if (typeof initMap === 'function' ) {
        initMap(markerinfo,"#{@maptitle}","#{@baselayers}",vectorinfo);
        updateInfo(1,"<h3>#{@maptitle}</h3><p>#{@markercount} cases reported</p>")
        mapFit();
      } else {
        setTimeout(onLoad,10);
      }
    }

.front
  -if @defs
    %svg{:style=>'height:0'}
      %defs
        -@defs.each do |d|
          %pattern{:id=>"#{d['filename']}",:patternUnits=>"userSpaceOnUse",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}
            %image{"xlink:href"=>"https://file.ejatlas.org/patterns/#{d['filename']}.png",:x=>"0",:y=>"0",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}

  %br/
  #infopane
  %br/

  .horipane
    .title Legend
    .content{:style=>'display:none'}
      %br/
      #legendpane
      %br/

  -if @recent
    .horipane
      .title.active Recent
      .content
        %br/
        %table
          %tbody.recent.columns
          -@recent.each do |c|
            %tr
              -if c.images.any?
                %td{:style=>'vertical-align:top;padding:0 0 12px;'}
                  %a{:href=>"/conflict/#{c.slug}"}
                    .img{:style=>"background:url('#{c.images.first.file.thumb.url}');width:120px;height:90px;background-size:cover;"}
              -else
                %td{:style=>'vertical-align:top;padding:0 0 12px;'}
                  %a{:href=>"/conflict/#{c.slug}"}
                    .img{:style=>"background:url('/images/bg.png');width:120px;height:90px;background-size:cover;"}
              %td{:style=>'vertical-align:top;padding:0 0 12px 12px;'}
                %h4{:style=>'margin:0px'}
                  %a{:href=>"/conflict/#{c.slug}"}= c.name
                  -ago = (Time.now-c.modified_at)/(60*60*24)
                  -if ago < 100
                    %small= "Updated #{ago.to_i} days ago"
                %p{:style=>'margin:0;padding:0;font-size:12px;line-height:16px;'}= c.headline
        %br/

  -if @browseinfo.keys.length > 1
    .horipane
      .title Browse maps
      .content{:style=>'display:none;'}
        -@browseinfo.each do |k,v|
          .horipane.browse
            .title{:style=>'background:transparent'}= "by #{k.titlecase}"
            .content{:style=>'display:none;'}
              %div{:id=>"browse#{k}"}
                %ul.columns
                  -v.each do |c|
                    -j = JSON.parse c[0]
                    %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe

    .horipane
      .title.active Filter
      .content
        #filter-row
          #filter= @filter

  -else
    -k = @browseinfo.keys.first
    .horipane.browse
      .title.active= "Browse by #{k}"
      .content
        %div{:id=>"browse#{k}"}
          %ul.columns
            -@browseinfo[k].each do |c|
              -j = JSON.parse c[0]
              %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe

-content_for :bottom do
  .inner
    .leftpane
      .featureds
        %div{:style=>"position:relative;"}
          -Featured.where(published:true).all.each_with_index do |feat,index|
            %a.feat{:href=>"/featured/#{feat.slug}",:style=>"left:#{index*132}px"}
              -if feat.images.any?
                .img{:style=>"background:url('#{feat.images.first.file.thumb.url}');background-size:cover;"}
              -else
                .img
              %span= feat.name

-content_for :body_end do
  :javascript
    function resetColumns() {
      columns = $('.browse .title.active').next('.content').find('.columns');
      if (columns.length == 0) {
        console.log('no pane found with columns');
        return
      } else {
        console.log(columns.width())
        iColumns = String(Math.max(1,Math.floor(columns.width()/210)));
        console.log(iColumns)
        $('.columns').css('column-count', iColumns);
        $('.columns').css('-moz-column-count', iColumns);
        $('.columns').css('-webkit-column-count', iColumns);
      }
    }


