-# coding: utf-8
-content_for :include do
  :javascript
    img = new Image(330,30);
    img.src = 'https://file.ejatlas.org/static/ikon.png';
    var markerinfo = #{@markerinfo.gsub('\\"', '"').gsub('","',',').sub(/^\["/,'[').sub(/",\]$/,']')};
    var vectorinfo = [];
    var maptitle = "#{@maptitle}";
    var layers = "#{@baselayers}";
    var fid = 0;
  -if @vectors
    :javascript
      vectorinfo = #{@vectors};
  :javascript
    window.onload = onLoad;
    function onLoad() {
      if (typeof initMap === 'function' ) {
        updateInfo(1,"<h3>#{@maptitle}</h3><p>#{@markercount} cases reported</p>")
        mapFit();
      } else {
        setTimeout(onLoad,10);
      }
    }

.front
  -if @defs
    %svg{:style=>'height:0'}
      %defs
        -@defs.each do |d|
          %pattern{:id=>"#{d['filename']}",:patternUnits=>"userSpaceOnUse",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}
            %image{"xlink:href"=>"https://file.ejatlas.org/patterns/#{d['filename']}.png",:x=>"0",:y=>"0",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}

  #head
    %br/
    %h3=@maptitle
    %p="#{@markercount} cases reported"

  .horipane
    .title Legend
    .content{:style=>'display:none'}
      #legendpane
        .legend.noselect

  -if @browseinfo.keys.length > 1
    .horipane#filter-container
      .title Filter
      .content{:style=>'display:none;'}
        #filter-row.block{'data-width'=>600}
          #filter= @filter

    .horipane
      .title Browse maps
      .content{:style=>'display:none;'}
        -@browseinfo.each do |k,v|
          .horipane.browse
            .title{:style=>'background:transparent'}= "by #{k.titlecase}"
            .content{:style=>'display:none;'}
              %div{:id=>"browse#{k}"}
                %ul.columns
                  -v.each do |c|
                    -j = JSON.parse c[0]
                    %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe

  -else
    -k = @browseinfo.keys.first
    .horipane.browse
      .title.active= "Browse by #{k}"
      .content
        %div{:id=>"browse#{k}"}
          %ul.columns
            -@browseinfo[k].each do |c|
              -j = JSON.parse c[0]
              %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe


  -if @feats
    .horipane
      .title.active Featured Maps
      .content
        %table
          %tbody.feats
            -@feats.each do |c|
              %tr.block{"data-width"=>360}
                %td.image
                  %a{:href=>"/featured/#{c.slug}"}
                    .img{:style=>(c.image ? "background:url('#{c.image}');" : "")}
                %td.exp
                  %h4
                    %a{:href=>"/featured/#{c.slug}"}= c.name
                  %p="#{c.description.split("\n")[0]}"

  .horipane
    .title Social
    .content{:style=>'display:none;'}
      .block{"data-width"=>240}
        %a.btn.btn-twitter.full{:href=>"https://twitter.com/intent/tweet?text=#{CGI.escape("Check out the #EJAtlas!")}&url=#{$siteurl}",:target=>"_blank",:title=>"Tweet"} Tweet about EJAtlas
        %a.twitter-timeline{'data-dnt'=>"true",:href=>"https://twitter.com/EnvJustice",'data-widget-id'=>"498025848931246080",'data-chrome'=>'nofooter noborders',:height=>490} 
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      .block{"data-width"=>240}
        %a.btn.btn-facebook.full{:href=>"https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fejatlas.org",:target=>"_blank",:title=>"Share on Facebook"} Share on Facebook
        #fb-root
        :javascript
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=323186951125409";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        .fb-like-box{"data-href"=>"https://www.facebook.com/ejolt", "data-width"=>"360px", "data-height"=>"540", "data-colorscheme"=>"light", "data-show-faces"=>"false", "data-header"=>"false", "data-stream"=>"true", "data-show-border"=>"false",:style=>"margin-left:-8px"}

  -if @recent
    .horipane
      .title.active Recently Updated Conflicts
      .content
        %table
          %tbody.recent
            -@recent.each do |c|
              %tr.block{"data-width"=>360}
                %td.image
                  %a{:href=>"/conflict/#{c.slug}"}
                    .img{:style=>(c.images.any? ? "background:url('#{c.images.first.file.thumb.url}');" : "")}
                %td.exp
                  %h4
                    %a{:href=>"/conflict/#{c.slug}"}= c.name.split(',')[0]
                    -ago = ((Time.now-c.modified_at)/(60*60*24)).to_i
                    -if ago < 100
                      %small.blocked= "Updated #{ago < 1 ? "today" : (ago == 1 ? "#{ago} day ago" : "#{ago} days ago")}."
                  %p{:style=>'margin:0;padding:0;font-size:12px;line-height:16px;'}= c.headline

-content_for :body_end do
  :javascript
    $(document).ready(function(){
      $('#rightpane').scroll(function() {
        if(!scrolling) {return}
        if ( $('#rightpane').scrollTop() + window.innerHeight >= $('#rightpane')[0].scrollHeight) { 
          $('body').css('cursor','wait');
          ask();
          console.log('ok')
        }
      });
    });
    function resetColumns() {
      columns = $('.browse .title.active').next('.content').find('.columns');
      if (columns.length > 0) {
        iColumns = String(Math.max(1,Math.floor(columns.width()/200)));
        $('.columns').css('column-count', iColumns);
        $('.columns').css('-moz-column-count', iColumns);
        $('.columns').css('-webkit-column-count', iColumns);
      }
    }
    var scrolling = true;
    function ask() {
      $.getJSON("/more_recent","offset="+$('.recent tr').length,function(data){
        if (data.length < 6) scrolling = false;
        $.each(data,function(i,n) {
          n = n.conflict
          row = "<tr class='block' data-width='360'><td class='image'><a href='/conflict/"+n.slug+"'><div class='img' style='background:url("+n.image+")'></div></a></td><td class='exp'><h4><a href='/conflict/"+n.slug+"'>"+n.name.split(',')[0]+"</a></h4><p atyle='margin:0;padding:0;font-size:12px;line-height:16px;'>"+n.headline+"</p></td></tr>"
          $('tbody.recent').append(row);
        });
        dragEnd();
        $('body').css('cursor','auto');
      })
    }


