-# coding: utf-8
-content_for :include do
  :javascript
    img = new Image(330,30);
    img.src = 'https://file.ejatlas.org/static/ikon.png';
    var markerinfo = #{@markerinfo.gsub('\\"', '"').gsub('","',',').sub(/^\["/,'[').sub(/",\]$/,']')};
    var vectorinfo = [];
    var maptitle = "#{@maptitle}";
    var layers = "#{@baselayers}";
    var fid = 0;
  -if @vectors
    :javascript
      vectorinfo = #{@vectors};
  :javascript
    window.onload = onLoad;
    function onLoad() {
      if (typeof initMap === 'function' ) {
        updateInfo(1,"<h3>#{@maptitle}</h3><p>#{@markercount} cases reported</p>")
        mapFit();
      } else {
        setTimeout(onLoad,10);
      }
    }

-content_for :fb do
  #fb-root
  :javascript
    window.fbAsyncInit = function() { FB.init({ appId: '842943955772994', xfbml: true, version: 'v2.2' }); }; 
    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));

-content_for :outer do
  #welcome.modal
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{:type=>'button','data-dismiss'=>'modal','aria-hidden'=>true} &times;
          %h4
            %strong Welcome to Environmental Justice Atlas
        .modal-body
          %p The EJ Atlas is a teaching, networking and advocacy resource. Strategists, activist organizers, scholars, and teachers will find many uses for the database, as well as citizens wanting to learn more about the often invisible conflicts taking place. 
          %p
            %strong Please click the markers on the map for more information.
          .clearfix
            .pull-right
              %input{:type=>'checkbox'} &nbsp; Do not show this information again

.front
  -if @defs
    %svg{:style=>'height:0'}
      %defs
        -@defs.each do |d|
          %pattern{:id=>"#{d['filename']}",:patternUnits=>"userSpaceOnUse",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}
            %image{"xlink:href"=>"https://file.ejatlas.org/patterns/#{d['filename']}.png",:x=>"0",:y=>"0",:width=>"#{d['scale']}",:height=>"#{d['scale']}"}

  #help.clearfix
    .pull-right
      %h4
        %strong{:style=>'left:0',"data-help"=>"popover","data-placement"=>"left","title"=>"","data-content"=>"Show this help"} ?
    .pull-right
      %a{:href=>"https://twitter.com/intent/tweet?text=#{CGI.escape("Check out the #EJAtlas,")}&url=#{$siteurl}",:target=>"_blank",:title=>"Tweet"}
        #share_tw 
          #img &nbsp;
    .pull-right
      -#.fb-like{"data-href"=>"https://developers.facebook.com/docs/plugins/","data-layout"=>"button","data-action"=>"like","data-show-faces"=>"true","data-share"=>"true"}
      %a{:href=>"https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fejatlas.org",:target=>"_blank",:title=>"Share on Facebook"}
        #share_fb 
          #img &nbsp;
  .clearfix
    #head
      %br/
      %h3
        %strong=@maptitle
      %p
        %strong="#{@markercount} cases reported"
      %h4{:style=>'padding:12px 0;font-weight:bold'}
        You&nbsp;can
        %a{:href=>'/accounts/new'}contribute&nbsp;to&nbsp;EJ&nbsp;Atlas
        and&nbsp;/&nbsp;or
        %a{:href=>'https://docs.google.com/forms/d/1jGi8V-8-0YVRjqZXV1NN2SkSMj9TT7H4JIH44HDq6IA/viewform'}fill&nbsp;out&nbsp;our&nbsp;survey.

  .horipane{"data-help"=>"popover","data-placement"=>"bottom","title"=>"","data-content"=>"Drop down each pane"}
    .title Legend
    .content{:style=>'display:none'}
      #legendpane
        .legend.noselect

  .horipane#filter-container
    .title Filter
    .content{:style=>'display:none;'}
      #filter-row.block{'data-width'=>500}
        #filter= @filter

  .horipane
    .title Browse maps
    .content{:style=>'display:none;'}
      -@browseinfo.each do |k,v|
        .horipane.browse
          .title{:style=>'background:transparent'}= "by #{k.titlecase}"
          .content{:style=>'display:none;'}
            %div{:id=>"browse#{k}"}
              %ul.columns
                -v.each do |c|
                  -j = JSON.parse c[0]
                  %li="<a href='/#{k}/#{j['slug']}'>#{j['name']}</a>&nbsp;&nbsp;<strong style='font-size:85%;'>#{c[1]}</strong>".html_safe


  .horipane
    .title Get Involved
    .content.social{:style=>'display:none;'}
      .block{"data-width"=>240}
        %a.btn.btn-twitter.full{:href=>"https://twitter.com/intent/tweet?text=#{CGI.escape("Check out the #EJAtlas, mapping environmental justice:")}&url=#{$siteurl}",:target=>"_blank",:title=>"Tweet"} Tweet about EJAtlas
        %a.twitter-timeline{'data-dnt'=>"true",:href=>"https://twitter.com/EnvJustice",'data-widget-id'=>"498025848931246080",'data-chrome'=>'nofooter noborders',:height=>490} 
        :javascript
          !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
      .block{"data-width"=>240}
        %a.btn.btn-facebook.full{:href=>"https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fejatlas.org",:target=>"_blank",:title=>"Share on Facebook"} Share on Facebook
        .fb-like-box{"data-href"=>"https://www.facebook.com/ejolt", "data-width"=>"360px", "data-height"=>"540", "data-colorscheme"=>"light", "data-show-faces"=>"false", "data-header"=>"false", "data-stream"=>"true", "data-show-border"=>"false",:style=>"margin-left:-8px"}


  -if @feats
    .horipane
      .title.active Featured Maps
      .content
        %table
          %tbody.feats
            -@feats.each do |c|
              %tr.block{"data-width"=>360}
                %td.image
                  %a{:href=>"/featured/#{c.slug}"}
                    -if c.images.where(:prime=>true).any?
                      .img{:style=>"background:url('#{c.images.where(:prime=>true).first.file.url}');background-repeat:no-repeat;background-size:contain;"}
                    -else
                      .img{:style=>(c.images.any? ? "background:url('#{c.images.order("updated_at desc").first.file.url}');background-repeat:no-repeat;background-size:contain;" : "")}
                %td.exp
                  %h4
                    %a{:href=>"/featured/#{c.slug}"}= c.name
                  =c.headline
  -if @recent
    .horipane
      .title.active Recently Updated Conflicts
      .content
        %table
          %tbody.recent
            -@recent.each do |c|
              %tr.block.conflict-button{"data-id"=>c.id,"data-width"=>360,:id=>"recent_#{c.id}"}
                %td.image
                  %a{:href=>"/conflict/#{c.slug}"}
                    .img{:style=>(c.images.any? ? "background:url('#{c.images.first.file.thumb.url}');" : "")}
                %td.exp
                  %p
                    %strong
                      %a{:href=>"/conflict/#{c.slug}"}= c.name#.split(',')[0]
                      -ago = ((Time.now-c.modified_at)/(60*60*24)).to_i
                      -if c.commented
                        %small commented
                  %p{:style=>'margin:0;padding:0;font-size:12px;line-height:16px;'}= c.headline

-content_for :body_end do
  :javascript
    $(document).ready(function(){
      $('#help').on('click',function(){
        $('#welcome').modal('show');
      })
      $('#welcome input').on('change',function(){
        localStorage['hideHelp'] = $(this).prop('checked')
      })
      $('#welcome').on('shown.bs.modal',function(){
        showPopovers();
      });
      $('#welcome').on('hidden.bs.modal',function(){
        $('.popover').detach();
      });
      if (localStorage['hideHelp'] == "true") {
        $('#welcome input').prop('checked',true)
      } else {
        $('#welcome').modal('show');
      }
      fillWithCases();
      $('#rightpane').scroll(function() {
        if(!scrolling) {return}
        if ( $('#rightpane').scrollTop() + window.innerHeight >= $('#rightpane')[0].scrollHeight) { 
          $('body').css('cursor','wait');
          ask();
        }
      });
    });
    function fillWithCases() {
      if ( $('#rightpane').scrollTop() + window.innerHeight >= $('#rightpane')[0].scrollHeight) { 
        $('body').css('cursor','wait');
        ask();
      }
    }
    function resetColumns() {
      columns = $('.browse .title.active').next('.content').find('.columns');
      if (columns.length > 0) {
        iColumns = String(Math.max(1,Math.floor(columns.width()/200)));
        $('.columns').css('column-count', iColumns);
        $('.columns').css('-moz-column-count', iColumns);
        $('.columns').css('-webkit-column-count', iColumns);
      }
    }
    var scrolling = true;
    function ask() {
      $.getJSON("/more_recent","offset="+$('.recent tr').length,function(data){
        if (data.length < 6) scrolling = false;
        $.each(data,function(i,n) {
          n = n.conflict
          if ($('#recent_'+n.id).length == 0){
            row = "<tr class='block conflict-button' data-id="+n.id+" data-width='360' id='recent_"+n.id+"'><td class='image'><a href='/conflict/"+n.slug+"'><div class='img' style='background:url("+n.image+")'></div></a></td><td class='exp'><p><strong><a href='/conflict/"+n.slug+"'>"+n.name+"</a></strong></p><p atyle='margin:0;padding:0;font-size:12px;line-height:16px;'>"+n.headline+"</p></td></tr>"
            $('tbody.recent').append(row);
          }
        });
        dragEnd();
        $('body').css('cursor','auto');
        fillWithCases();
      })
    }
    function showPopovers(){
      $('.popover').detach();
      $('[data-help="popover"]').popover('show');
      $.each($('.popover'),function(i,e){
        pos = $(e).offset();
        $(e).css('position','fixed');
        $(e).css('top',pos.top);
        $(e).css('left',pos.left);
      });
      $('.popover').insertAfter("#welcome");
    }

