-# coding: utf-8
-content_for :include do
  %link{:rel=>'stylesheet',:type=>'text/css',:media=>'print',:href=>'/stylesheets/print.css'}
  :css 
    body {
      background: white !important;
    }
  :javascript
    img = new Image(330,30);
    img.src = '#{$fileurl}/static/ikon.png';
    var markerinfo = [eval(#{@markerinfo.html_safe})];
    var vectorinfo = #{@vectors};
    var layers = "#{$alllayers.join(",").html_safe}";
    window.onload = onLoad;
    function onLoad() {
      if (typeof initMap === 'function' ) {
        initMap();
        showMarkers(markerinfo);
        console.log(markerinfo)
        getInfo (#{@cid},"#{@name}",#{@pos.to_s.html_safe},#{@zoom},true);
        $('.map_icon').addClass('s_1');
        h = $('h3:contains(Description)');
        t = h.next('table')
        h.insertBefore('h3:contains(Source of Conflict)')
        t.insertAfter(h)
      } else {
        console.log(markerinfo)
        setTimeout(onLoad,10);
      }
    }
.front

  .row.noprint
    .col-xs-12
      %button.btn-warning.btn.btn-lg.printer{:style=>'width:100%;position:fixed;top:0px;left:0px;z-index:1999;background-color:#024357;border:1px solid black',:onclick=>'window.print();'} Print
      %br/
      %p.pull-left{:style=>'font-size:24px;line-height:32px;margin:48px 0;'} 
        Please zoom in or out and select the base layer according to your preference to make the map ready for printing, then press the 
        %strong Print 
        button above.
      -#%button.noprint.btn-info.btn.btn-lg.printer{:style=>'width:240px;max-width:300px;margin:0 48px;background-color:#024357;border:1px solid black',:onclick=>'window.print();'} Print
  %h2#name{:style=>'margin-bottom:0px !important;'}= @name
  #map.map{:style=>'width:100%;'}
  %br/
  #conflict_summary
    = @table.html_safe
    -if @images.any?
      %table
        %tbody
          %tr
            %td.fld
              %h3 Images
            %td &nbsp;
          -@images.each do |img|
            %tr
              %td.fld
                %img{:src=>img.file.url,:style=>'width:100%;margin-bottom:12px'}
              %td{:style=>'vertical-align:top'}
                %h4
                  %strong=img.title
                %p
                  =img.description and img.description.length > 0 ? img.description : "&nbsp;".html_safe
                  %br/
                  %strong=img.credit

