-# coding: utf-8
-content_for :include do
  %link{:rel=>'stylesheet',:type=>'text/css',:media=>'print',:href=>'/stylesheets/print.css'}
  :javascript
    img = new Image(330,30);
    img.src = 'https://file.ejatlas.org/static/ikon.png';
    var markerinfo = eval("["+#{@cmarker}+"]");
    var vectorinfo = #{@vectors};
    window.onload = function(){
      if ($.grep(markerinfo,function(a,b){return (a['id'] == #{@cid})}).length == 0) {
        cmarker = JSON.parse(#{@cmarker});
        markerinfo.push(cmarker);
      }
      clear = false;
      clearuser = false;
      initMap(markerinfo,"#{@maptitle}","#{@baselayers}",vectorinfo,null);
      getInfo (#{@cid},"#{@name}",#{@pos},#{@zoom},false)
    }

.row
  .col-xs-12
    %button.btn-warning.btn.btn-lg.printer{:style=>'width:100%;position:fixed;top:0px;left:0px;z-index:1999',:onclick=>'window.print();'} Print!
%br/
%br/
%h2#name{:style=>'margin-bottom:0px !important;'}= @name
.front
  .clearfix
    #map.map.pull-left{:style=>'width:700px;'}
    %p.pull-left{:style=>'font-size:24px;line-height:32px;margin:48px;max-width:300px;'} 
      Please zoom in or out and select the base layer according to your preference to make the map ready for printing, then press the 
      %strong Print 
      button above.
  %br/
  #conflict_summary
    = @table.html_safe
    -if @images.any?
      %table
        %tbody
          %tr
            %td.fld
              %h3 Images
            %td &nbsp;
          -@images.each do |img|
            %tr
              %td.fld
                %img{:src=>img.file.url,:style=>'width:100%;margin-bottom:12px'}
              %td{:style=>'vertical-align:top'}
                %h4
                  %strong=img.title
                %p
                  =img.description and img.description.length > 0 ? img.description : "&nbsp;".html_safe
                  %br/
                  %strong=img.credit

