-#coding:utf-8
%br/
.content
  .status.row
    .col-md-6.col-md-offset-3
      %h3 Translation status
      %table.table
        %thead
          %tr
            %th %
            -@tkeys.each do |k|
              -next if k == "master"
              %th=k.upcase

        %tbody
          -totals = @tkeys.map{|k| [k,0]}.to_h
          -$tstatus.each do |k,v|
            %tr
              %td
                %b=k.titlecase
              -@tkeys.each do |kk|
                -val = ((v[kk].nil? or v[kk]==0) ? 0 : v[kk] - 1)
                -totals[kk] += ((v[kk]||1)-1)
                -next if kk == "master"
                %td
                  %a{:href=>"#",:title=>"#{@iso639[kk]} translations for #{k}","data-content"=>"#{val} / #{v["master"].to_i-1} <small>(#{(val.to_f / (v["master"]-1.0) * 100).to_i}%)</small>", "data-toggle"=>"popover" }= (val.to_f / (v["master"]-1.0) * 100).to_i

          %tr
            %td
              %b TOTAL
            -totals.each do |k,v|
              -next if ["","master"].include?(k)
              %td
                %b
                  %a{:href=>"#",:title=>"#{@iso639[k]} translations in general","data-content"=>"#{v} / #{totals["master"]} <small>(#{(v.to_f / totals["master"].to_f * 100).to_i}%)</small>", "data-toggle"=>"popover" }= (v.to_f / totals["master"].to_f * 100).to_i

      .pull-left
        %span Last updated at:
        %br/
        %b=Time.at(File.read("#{Dir.pwd}/lib/sheets/stamp").strip.to_i).to_s
      %input#trans.btn.pull-right{:value=>'Update translations'}

  .status.row
    .col-md-6.col-md-offset-3
      %br/
      %br/
      %p
        Please click on
        %a{:href=>"https://docs.google.com/spreadsheets/d/***REMOVED***/edit#gid=881201717",:target=>"_blank"} this link
        to access the translations document.

  :javascript
    function deselect() { $('input[type=checkbox]').attr('checked',false); }
    $("#trans").on("click",function(){
      $(this).addClass("disabled")
      $(".result").text("")
      $.get("/i18n?dl",function(data){
        window.location = "/translations"
      })
    })
    $(document).ready(function(){
      $('[data-toggle="popover"]').popover({
        html: true,
        placement: "top",
        trigger: "hover"
      }); 
    });
