-# coding: utf-8
-content_for :include do
  =javascript_include_tag 'openlayers', 'osm', 'jquery.validate', 'jquery-ui.min', 'datepicker-tr'
  =stylesheet_link_tag 'neutrino/jquery-ui'
  -#<script src="http://maps.google.com/maps/api/js?v=3.2&sensor=false"></script>


-#.row
  .span11
    =f.submit pat('Vazgeç'), :onclick => "window.location='#{url(:conflicts, :index)}';return false", :class => 'button pull-right'
    .pull-right &nbsp;
    =f.submit pat(:kaydet), :class => 'button pull-right'
.row
  .san11
    .row
      %ul#conflict-tabs.nav.nav-tabs{:style=>'margin-bottom:0'}
        %li.active
          %a{:href=>'#basic'}TEMEL VERİLER
        %li.closed
          %a{:href=>'#conflict'}İHTİLAF
        %li.closed
          %a{:href=>'#project'}PROJE
        %li.closed
          %a{:href=>'#references'}REFERANSLAR
        %li.closed
          %a{:href=>'#contact'}İLETİŞİM BİLGİLERİ

      .tab-content.whitebox
        #basic.tab-pane.active
          .span9
            %p.lead İhtilafın Temel Bilgileri
          .span2
            .pull-right.btn-group.png
              %button.btn.pn.next İleri
              %br/
          .span3
            .group
              =f.label 'İsim'
              %span.required.large *
              .required=f.error_message_on :name
              %br/
              =f.text_field :name, :class => 'text_field basic_input'
              %p.description Yaygın olarak kullanılan isim
                
            .group
              .required=f.error_message_on :general
              %label.checkbox.inline
                %input#general{:type=>'checkbox',:value=>'1'} Genel
              %p.description{:style=>'margin-top:0px'} Eğer ihtilaf bir mekana bağlı değilse işaretleyiniz
                
            .group.local_fade
              .hide
                =f.text_field :country_id, :value=>0
              =f.label 'İl'
              %span.required.large.local_fade_full *
              .required=f.error_message_on :province_id
              %br/
              =f.select :province_id, :collection => @provinces, :fields => [:name, :id], :include_blank => true, :class=>'basic_input local_disable'

            .group.local_fade
              =f.label 'Yer'
              .required=f.error_message_on :site
              %br/
              =f.text_field :site, :class => 'text_field local_disable'
              %p.description İlçe, Belde, Belediye
              .well
                %p “Yer” başlığı altına ilk olarak projenin gerçekleşmesinin planlandığı spesifik yer yazılmalıdır. Bu belirsizse ihtilafa karşı örgütlenmenin merkezi “yer” olarak yazılabilir. Tüm Türkiye’yi ilgilendiriyorsa “Türkiye” yazılabilir. 

            .group.local_fade
              .required=f.error_message_on :population_type
              =f.label 'Nüfus türü', :class=>'checkbox inline', :style=>"padding-left:0px;"
              %label.checkbox.inline
                %input.local_disable{:type=>'checkbox',:value=>'1'} Kentsel
              %label.checkbox.inline
                %input.local_disable{:type=>'checkbox',:value=>'2'} Kırsal
            %br/

            .group
              =fields_for :version do |v|
                =v.label 'İlişkili ihtilaf'
                .required=v.error_message_on :related_conflict_id
                %br/
                =v.text_field :related_conflict_id, :class => :text_field
                %p.description Bu ihtilaf herhangi başka bir çevre ihtilafıyla doğrudan ilişkili midir? Evet ise belirtiniz.

          .span3
            .well
              %p Lütfen formu ihtilafın bugünkü durumunu göz önüne alarak doldurunuz.
            .group
              =fields_for :version do |v|
                =v.label 'Açıklama (Özet)'
                %span.required.large *
                .required=v.error_message_on :description
                %br/
                ~v.text_area :description, :class => 'text_area basic_input', :rows => 17
                %p.description Projeyi ve ihtilafı azami 200 kelimede açıklayınız. 
                .well
                  %p Proje bu formda ihtilafın sebebi olarak tanımlanmaktadır. Eğer ihtilaf sebebi olarak bir proje mevcut değilse bunu belirtiniz ve ihtilafa yol açan faktörleri açıklayınız.

          .span5.local_fade
            .grou.local_fade_full 
              %span Enlem:
              %span#maplat.large
              %span Boylam:
              %span#maplon.large

            #map.local_disable
            .well
              %p Koordinatları güncellemek için haritadaki hedef imlecini istediğiniz noktaya sürükleyiniz. Sol üstteki "+" ve "-" düğmeleriyle görünen alanın merkezine doğru yaklaşıp uzaklaşabilir, çift tıklayarak hem imleci tıkladığınız noktaya getirir, hem de o bölgeyi yakınlaştırabilirsiniz.

          .span11
            %p.lead Kategoriler
          .span5
            .group
              =f.label 'Ana Başlık'
              %span.required.large *
              .required=f.error_message_on :category_id
              %br/
              =f.select :category_id, :collection => @categories, :fields => [:name, :id], :include_blank => true, :id => 'main_category', :class => 'basic_input'
              %p.description İhtilafa en çok uyan kategoriyi seçiniz.
              .well
                %p - İhtilaf tipi için ana başlık belirlerken alt başlıklardaki kategorilerde uygun olan varsa onun ana başlığı yazılmalıdır. Arada kalınan durumlarda iki adet ana başlık yazmak, hatta “diğer” başlığını da doldurmak mümkündür.
                %p - Yine ana başlığı belirlerken daha çok ihtilafın bulunduğu bölgede ihtilafın nasıl algılandığı baz alınmalıdır. (Örn.1: Madencilikle ilgili ihtilafta biyolojik çeşitlilik alt başlık olarak yazılabilir. Örn.2: Hareketin algıladığı ihtilaf ve projenin amacı farklı kategoriler içerebilir. HES’ler hem su yönetimi, hem enerji, hem de kültürel miras olabilir.)

          .span6
            .group
              =f.label 'Alt Başlık'
              %span.required.large *
              .required=f.error_message_on :type_id
              %br/
              %select#main_type.basic_input{:name=>:type_id}
                %option{:value=>'0'}Lütfen bir Ana Başlık seçiniz.
              %p.description İhtilafa en çok uyan alt kategoriyi seçiniz.
              %br/
              /%select#sec_type{:name=>:type_id}
              /%br/
              /%select#trd_type{:name=>:type_id}
              /%option{:value=>nil}Lütfen bir Ana Başlık seçiniz.
              .group
                =f.label 'Diğer'
                .required=f.error_message_on :other_type
                =f.text_field :other_type, :class => :text_field
                %p.description İhtilafı listedeki alt kategorilere koyamıyorsanız lütfen önerinizi yazınız.

          .span9
            %p &nbsp;
          .span2
            .pull-right.btn-group.png
              %button.btn.pn.next İleri
              %br/
          :javascript
            $(document).ready(function(){
              initMap();
              types = #{@types.to_json}
              alltypes = #{@alltypes.to_json}
              categories = #{@categories.to_json}
              alltypeoptions = '<option value="0">&nbsp;</option>\n';
              ccat = 0;
              $.each(alltypes, function(i,v){
                type = v['type'];
                if (type['category_id'] > ccat) {
                  alltypeoptions += '<option value="0" disabled="disabled">&nbsp;</option>\n<option value="0" disabled="disabled">'+categories[ccat]['category']['name']+'</option>\n'
                  ccat += 1;
                }
                alltypeoptions += '<option value="'+type['id']+'">'+type['name']+'</option>\n';
              });
              $('#sec_type').html(alltypeoptions);
              $('#trd_type').html(alltypeoptions);
            });
            $('#general').change(function () {
              if ($('#general').attr('checked') == 'checked') {
                $('.local_fade').slideUp('fast');
                $("#conflict_province_id").rules('remove', 'required min');
                deactivateMap();
              } else {
                $('.local_disable').attr('disabled',false);
                $('.local_fade').slideDown('slow');
                $("#conflict_province_id").rules('add', {
                  required: true,
                  min: 1
                });
                activateMap();
              }
            });
            $('#main_category').change(function () {
              chosen = $("#main_category option:selected").val();
              if (chosen == '' ) { 
                chosen = 0; 
              }
              typeoptions = '';
              $.each(types[chosen], function(i,v){
                //console.log(v)
                type = v['type'];
                typeoptions += '<option value="'+type['id']+'">'+type['name']+'</option>\n';
              });
              $('#main_type').html(typeoptions);
            });




        #conflict.tab-pane
          .span9
            %p.lead Bu bölümde ihtilaf incelenmektedir.
          .span2
            .pull-right.btn-group.png
              %button.btn.pn.prev Geri
              %button.btn.pn.next İleri
              %br/
          .span11 &nbsp;
          .span2
            .group
              =f.label 'İhtilafın Başladığı Tarih'
              %span.required.large *
              .required=f.error_message_on :start
              =f.text_field :start, :class => 'text_field conflict_input datepicker'

            .group
              =fields_for :version do |v|
                =v.label 'İhtilafın Bittiği Tarih'
                .required=v.error_message_on :end
                =v.text_field :end, :class => 'text_field datepicker'

          .span9
            .group
              =fields_for :version do |v|
                =v.label 'Durum'
                .required=v.error_message_on :status_id
                =v.select :status_id, :collection => @statuses, :fields=>[:name, :id], :include_blank => true, :id => 'status_id', :class => 'basic_input'

            .group
              =f.label 'Karşı hareketin başladığı aşama'
              .required=f.error_message_on :reaction_id
              =f.select :reaction_id, :collection => @reactions, :fields=>[:name, :id], :include_blank => true, :id => 'reaction_id', :class => 'basic_input'

          .span11
            .group
              %br/
              =fields_for :version do |v|
                =v.label 'Harekete Geçen Gruplar'
                .required=v.error_message_on :mobilizing_group_id
              %table{:style=>'width:100%'}
                %tbody
                  -@mobgroups.each_with_index do |p,i|
                    -if i%3 == 0
                      %tr
                    %td.third
                      %input{:type=>'checkbox',:name=>'mobilizing_group_'+p.id.to_s,:class=>:mustcheck}
                      %label= p.name
              %br/
              %br/

            .group
              =fields_for :version do |v|
                =v.label 'Harekete Geçme Şekilleri'
                .required=v.error_message_on :mobilizing_form_id
              %table{:style=>'width:100%'}
                %tbody
                  -@mobforms.each_with_index do |p,i|
                    -if i%3 == 0
                      %tr
                    %td.third
                      %input{:type=>'checkbox',:name=>'mobilizing_form_'+p.id.to_s,:class=>:mustcheck}
                      %label= p.name
              %br/
              %br/

          .span10
            .group
              =fields_for :version do |v|
                %br/
                =v.label 'Çevresel Adalet Kuruluşları'
                .required=v.error_message_on :justice_party_id
                %br/
                =v.text_area :justice_parties, :class => :text_area, :rows=>2
                :javascript
                  $(document).ready(function(){
                    $keystr = $('#version_justice_parties').val().replace(']','');
                    $keystr = $keystr.replace('[','');
                    $('#version_justice_parties').val($keystr);
                    function split( val ) {
                        return val.split( /,\s*/ );
                    }
                    function extractLast( term ) {
                        return split( term ).pop();
                    }
                    $.get('/justice_party_list/',function(data){
                      //console.log(data);
                      words = data.split('$%');
                      $('#version_justice_parties')
                        .bind( "keydown", function( event ) {
                      if ( event.keyCode === $.ui.keyCode.TAB && $( this ).data( "autocomplete" ).menu.active ) {
                        event.preventDefault();
                      }
                    })
                    .autocomplete({
                      minLength: 0,
                      source: function( request, response ) {
                        response( $.ui.autocomplete.filter(
                          words, extractLast( request.term ) ) );
                      },
                      focus: function() {
                          return false;
                      },
                      select: function( event, ui ) {
                          var terms = split( this.value );
                          terms.pop();
                          terms.push( ui.item.value );
                          terms.push( "" );
                          this.value = terms.join( ", " );
                          return false;
                        }
                      });
                    });
                  });

                %p.description Projeye Karşı olan Sivil Toplum Kuruluşları ve Çevre Örgütleri

          .span5
            .group
              =fields_for :version do |v|
                %br/
                =v.label 'Güncel Proje Sahibi Kamu Teşekkülü veya Özel Şirket(ler)'
                .required=v.error_message_on :company_id
                %br/
                =v.text_area :companies, :class => :text_area, :rows=>4
                :javascript
                  $(document).ready(function(){
                    $keystr = $('#version_companies').val().replace(']','');
                    $keystr = $keystr.replace('[','');
                    $('#version_companies').val($keystr);
                    function split( val ) {
                        return val.split( /,\s*/ );
                    }
                    function extractLast( term ) {
                        return split( term ).pop();
                    }
                    $.get('/company_list/',function(data){
                      words = data.split('$%');
                      $('#version_companies')
                        .bind( "keydown", function( event ) {
                      if ( event.keyCode === $.ui.keyCode.TAB && $( this ).data( "autocomplete" ).menu.active ) {
                        event.preventDefault();
                      }
                    })
                    .autocomplete({
                      minLength: 0,
                      source: function( request, response ) {
                        response( $.ui.autocomplete.filter(
                          words, extractLast( request.term ) ) );
                      },
                      focus: function() {
                          return false;
                      },
                      select: function( event, ui ) {
                          var terms = split( this.value );
                          terms.pop();
                          terms.push( ui.item.value );
                          terms.push( "" );
                          this.value = terms.join( ", " );
                          return false;
                        }
                      });
                    });
                  });
              %p.description WB, IFAD, IUCN, ILO, vb.

            .group
              =fields_for :version do |v|
                %br/
                =v.label 'İlgili Devlet Kurum ve Kişileri'
                .required=v.error_message_on :government_actor_id
                %br/
                =v.text_area :government_actors, :class => :text_area, :rows=>4
                :javascript
                  $(document).ready(function(){
                    $keystr = $('#version_government_actors').val().replace(']','');
                    $keystr = $keystr.replace('[','');
                    $('#version_government_actors').val($keystr);
                    function split( val ) {
                        return val.split( /,\s*/ );
                    }
                    function extractLast( term ) {
                        return split( term ).pop();
                    }
                    $.get('/government_actor_list/',function(data){
                      words = data.split('$%');
                      $('#version_government_actors')
                        .bind( "keydown", function( event ) {
                      if ( event.keyCode === $.ui.keyCode.TAB && $( this ).data( "autocomplete" ).menu.active ) {
                        event.preventDefault();
                      }
                    })
                    .autocomplete({
                      minLength: 0,
                      source: function( request, response ) {
                        response( $.ui.autocomplete.filter(
                          words, extractLast( request.term ) ) );
                      },
                      focus: function() {
                          return false;
                      },
                      select: function( event, ui ) {
                          var terms = split( this.value );
                          terms.pop();
                          terms.push( ui.item.value );
                          terms.push( "" );
                          this.value = terms.join( ", " );
                          return false;
                        }
                      });
                    });
                  });


          .span5
            .group
              =fields_for :version do |v|
                %br/
                =v.label 'Projeyi Destekleyen Finansman Kuruluşları'
                .required=v.error_message_on :supporter_id
                %br/
                =v.text_area :supporters, :class => :text_area, :rows=>4
                :javascript
                  $(document).ready(function(){
                    $keystr = $('#version_supporters').val().replace(']','');
                    $keystr = $keystr.replace('[','');
                    $('#version_supporters').val($keystr);
                    function split( val ) {
                        return val.split( /,\s*/ );
                    }
                    function extractLast( term ) {
                        return split( term ).pop();
                    }
                    $.get('/supporter_list/',function(data){
                      words = data.split('$%');
                      $('#version_supporters')
                        .bind( "keydown", function( event ) {
                      if ( event.keyCode === $.ui.keyCode.TAB && $( this ).data( "autocomplete" ).menu.active ) {
                        event.preventDefault();
                      }
                    })
                    .autocomplete({
                      minLength: 0,
                      source: function( request, response ) {
                        response( $.ui.autocomplete.filter(
                          words, extractLast( request.term ) ) );
                      },
                      focus: function() {
                          return false;
                      },
                      select: function( event, ui ) {
                          var terms = split( this.value );
                          terms.pop();
                          terms.push( ui.item.value );
                          terms.push( "" );
                          this.value = terms.join( ", " );
                          return false;
                        }
                      });
                    });
                  });

                %p.description Projeyi destekleyen uluslararası kuruluşlar ve finansman kuruluşları

            .group
              =fields_for :version do |v|
                %br/
                =v.label 'Projeyi Destekleyen Diğer Kuruluşlar'
                .required=v.error_message_on :other_supporters
                %br/
                ~v.text_area :other_supporters, :class => :text_area, :rows=>4
                %p.description Şirket ya da Devlet Kurumu olmayıp, projeyi ekonomik vb. Sebepler ile destekleyen diğer gruplar

          .span11 &nbsp;

          .span3
            .group
              =fields_for :version do |v|
                %br/
                =v.label 'Projenin Mevcut Durumu'
                .required=v.error_message_on :project_status
                %table{:style=>'width:100%'}
                  %tbody
                    -@project_statuses.each_with_index do |p,i|
                      %tr
                        %td
                          %input{:type=>'checkbox',:name=>'project_status_'+p.id.to_s,:class=>:mustcheck}
                          %label= p.name
                %br/
                %br/


          .span8
            .group
              =fields_for :version do |v|
                %br/
                =v.label 'İhtilaf Sürecinde Gerçekleşenler'
                .required=v.error_message_on :conflict_events
                %table{:style=>'width:100%'}
                  %tbody
                    -@conflict_events.each_with_index do |p,i|
                      -if i%2 == 0
                        %tr
                      %td.half
                        %input{:type=>'checkbox',:name=>'conflict_event_'+p.id.to_s,:class=>:mustcheck}
                        %label= p.name
                %br/
                %br/
          .span11 &nbsp;
          .span3 &nbsp;
          .span4 
            .group
              =fields_for :version do |v|
                =v.label 'Başarı'
                .required=v.error_message_on :success_reason
                ~v.text_area :success_reason, :class => :text_area, :rows=>6
                %p.description Bu vakanın Çevresel Adalet alanında BAŞARI olarak değerlendirilebileceği yönleri nelerdir?

          .span4 
            .group
              =fields_for :version do |v|
                =v.label 'Başarısızlık'
                .required=v.error_message_on :failure_reason
                ~v.text_area :failure_reason, :class => :text_area, :rows=>6
                %p.description Bu vakanın Çevresel Adalet alanında BAŞARISIZLIK olarak değerlendirilebileceği yönleri nelerdir?


          .span9
            %p &nbsp;
          .span2
            .pull-right.btn-group.png
              %button.btn.pn.prev Geri
              %button.btn.pn.next İleri
              %br/
          :javascript
            $(document).ready(function (){
              $( ".datepicker" ).datepicker($.datepicker.regional['tr']);
              $( ".datepicker" ).datepicker( "option", "changeYear", true );
              $( ".datepicker" ).datepicker( "option", "changeMonth", true );
              $( ".datepicker" ).datepicker( "option", "maxDate", "+1y" );
            });

        #project.tab-pane
          .span9
            %p.lead Proje Bilgileri
          .span2
            .pull-right.btn-group.png
              %button.btn.pn.prev Geri
              %button.btn.pn.next İleri
              %br/
          .span3
            .group
              =fields_for :version do |v|
                =v.label 'Proje Detayları'
                .required=v.error_message_on :project_details
                %br/
                ~v.text_area :project_details, :class => :text_area, :rows=>17

            .group
              =fields_for :version do |v|
                =v.label 'Toplam Yatırım Miktarı'
                .required=v.error_message_on :investment_sum
                =v.text_field :investment_sum, :class => :text_field
                %br/
                %br/

          .span8
            .group
              =fields_for :version do |v|
                =v.label 'İhtilafa Konu Olan Meta'
                %span.required.large *
                .required=v.error_message_on :product_id
                %br/
                %table{:style=>'width:100%'}
                  %tbody
                    -@products.each_with_index do |p,i|
                      -if i%4 == 0
                        %tr
                      %td.quart
                        %input{:type=>'checkbox',:name=>'product_'+p.id.to_s,:class=>:mustcheck}
                        %label= p.name

          .span11
            %p.lead Projenin Etkileri
          .group
            .span2
              =fields_for :version do |v|
                =v.label 'Çevresel Etkiler'
                .required=v.error_message_on :env_impact_id
            .span9
              %table.imptab{:style=>'width:100%'}
                %thead
                  -3.times do |i|
                    %th.implab{:valign=>'bottom',:style=>'padding-left:0;text-align:left;border:none;'}
                      -if i==0
                        %span.small Potansiyel / Görülen
                      &nbsp;
                    %th.imprad{:valign=>'bottom'}
                      P
                    %th.imprad{:valign=>'bottom'}
                      G
                %tbody
                  -@impacts[0].each_with_index do |p,i|
                    -if i%3 == 0
                      %tr
                    %td.implab{:valign=>'bottom'}
                      %label= p.name
                    %td.imprad{:valign=>'bottom'}
                      %input.desrad{:type=>'radio',:name=>'env_radio_'+p.id.to_s,:id=>'env_radio_'+p.id.to_s+'_p',:value=>'p'}
                    %td.imprad{:valign=>'bottom'}
                      %input.desrad{:type=>'radio',:name=>'env_radio_'+p.id.to_s,:id=>'env_radio_'+p.id.to_s+'_g',:value=>'g'}
              %br/
              %br/

          .group
            .span2
              =f.label 'Sağlık Etkileri'
              .required=f.error_message_on :hlt_impact_id
            .span9
              %table.imptab{:style=>'width:100%'}
                %thead
                  -3.times do |i|
                    %th.implab{:valign=>'bottom',:style=>'padding-left:0;text-align:left;border:none;'}
                      -if i==0
                        %span.small Potansiyel / Görülen
                      &nbsp;
                    %th.imprad{:valign=>'bottom'}
                      P
                    %th.imprad{:valign=>'bottom'}
                      G
                %tbody
                  -@impacts[1].each_with_index do |p,i|
                    -if i%3 == 0
                      %tr
                    %td.implab{:valign=>'bottom'}
                      %label= p.name
                    %td.imprad{:valign=>'bottom'}
                      %input.desrad{:type=>'radio',:name=>'hlt_radio_'+p.id.to_s,:id=>'hlt_radio_'+p.id.to_s+'_p',:value=>'p'}
                    %td.imprad{:valign=>'bottom'}
                      %input.desrad{:type=>'radio',:name=>'hlt_radio_'+p.id.to_s,:id=>'hlt_radio_'+p.id.to_s+'_g',:value=>'g'}
              %br/
              %br/

          .group
            .span2
              =f.label 'Sosyoekonomik Etkiler'
              .required=f.error_message_on :sec_impact_id
            .span9
              %table.imptab{:style=>'width:100%'}
                %thead
                  -3.times do |i|
                    %th.implab{:valign=>'bottom',:style=>'padding-left:0;text-align:left;border:none;'}
                      -if i==0
                        %span.small Potansiyel / Görülen
                      &nbsp;
                    %th.imprad{:valign=>'bottom'}
                      P
                    %th.imprad{:valign=>'bottom'}
                      G
                %tbody
                  -@impacts[2].each_with_index do |p,i|
                    -if i%3 == 0
                      %tr
                    %td.implab{:valign=>'bottom'}
                      %label= p.name
                    %td.imprad{:valign=>'bottom'}
                      %input.desrad{:type=>'radio',:name=>'sec_radio_'+p.id.to_s,:id=>'sec_radio_'+p.id.to_s+'_p',:value=>'p'}
                    %td.imprad{:valign=>'bottom'}
                      %input.desrad{:type=>'radio',:name=>'sec_radio_'+p.id.to_s,:id=>'sec_radio_'+p.id.to_s+'_g',:value=>'g'}
              %br/
              %br/

          .group
            =fields_for :version do |v|
              .span2
                =v.label 'Diğer Etkiler'
                .required=f.error_message_on :other_impacts
              .span9
                ~v.text_area :other_impacts, :class => :text_area
                %p.description Projenin listelenenlerden başka etkileri mevcutsa yazınız.
          .span9
            %p &nbsp;
          .span2
            .pull-right.btn-group.png
              %button.btn.pn.prev Geri
              %button.btn.pn.next İleri
              %br/

            :javascript
              $(document).ready(function(){
                $('.desrad').live('click', function() { 
                  var previousValue = $(this).attr('previousValue');
                  if(previousValue == 'true'){
                    $(this).prop('checked', false)
                  }
                  $('input[name='+$(this).attr('name')+']').attr('previousValue', false)
                  $(this).attr('previousValue', $(this).prop('checked'));
                });
              });

        #references.tab-pane
          .span9
            %p.lead Bu bölümde sonuçlar incelenmektedir.
          .span2
            .pull-right.btn-group.png
              %button.btn.pn.prev Geri
              %button.btn.pn.next İleri
              %br/
          .span5
            .group
              =fields_for :version do |v|
                =v.label 'İlgili Mevzuat ve Kamu politikaları'
                .required=v.error_message_on :related_legislation
                ~v.text_area :related_legislation, :class => :text_area, :rows=>4

            .group
              =fields_for :version do |v|
                =v.label 'Geliştirilen Alternatifler'
                .required=v.error_message_on :suggested_alternatives
                ~v.text_area :suggested_alternatives, :class => :text_area, :rows=>4
                %p.description Proje karşısında harekete geçen grupların önerileri nelerdir?

            .group
              =fields_for :version do |v|
                =v.label 'Referanslar'
                .required=v.error_message_on :references
                ~v.text_area :references, :class => :text_area, :rows=>4
                %p.description Makale, kitap, belgeseller vb.

          .span5
            .group
              =fields_for :version do |v|
                =v.label 'İnternet Bağlantıları'
                .required=v.error_message_on :web_links
                ~v.text_area :web_links, :class => :text_area, :rows=>4
                %p.description Gazete haberleri, bilgi içeren internet bağlantıları

            .group
              =fields_for :version do |v|
                =v.label 'Fotoğraf, video bağlantıları'
                .required=v.error_message_on :media_links
                ~v.text_area :media_links, :class => :text_area, :rows=>4

            .group
              =fields_for :version do |v|
                =v.label 'Diğer Yorumlar'
                .required=v.error_message_on :other_comments
                ~v.text_area :other_comments, :class => :text_area, :rows=>4

        #contact.tab-pane
          .span9
            %p.lead Bu bölümde iletisim bilgileriniz istenmektedir.
          .span2
            .pull-right.btn-group.png
              %button.btn.pn.prev Geri
              %button.btn.btn-inverse.pn#save Kaydet
              %br/
          .span11 &nbsp;

          .span2
            .group
              =fields_for :version do |v|
                =v.label 'Doldurulma Tarihi'
                .required=v.error_message_on :submission
                =v.text_field :submission, :class => 'text_field datepicker'

          .span8
            .group
              =fields_for :version do |v|
                =v.label 'Ad - Soyad'
                .required=v.error_message_on :subm_name
                =v.text_field :subm_name, :class => :text_field

            .group
              =fields_for :version do |v|
                =v.label 'E-posta'
                .required=v.error_message_on :subm_mail
                =v.text_field :subm_mail, :class => :text_field

            .group
              =fields_for :version do |v|
                =v.label 'Organizasyon'
                .required=v.error_message_on :subm_org
                =v.text_field :subm_org, :class => :text_field

            .group
              =fields_for :version do |v|
                =v.label 'Adres'
                .required=v.error_message_on :subm_address
                ~v.text_area :subm_address, :class => :text_area
-#.row
  .span11
    =f.submit pat('Vazgeç'), :onclick => "window.location='#{url(:conflicts, :index)}';return false", :class => 'button pull-right'
    .pull-right &nbsp;
    =f.submit pat(:kaydet), :class => 'button pull-right'

:javascript
  function valPage(page){
    pageName = $(page['selector']).children('a').attr('href').replace('#','');
    result = true;
    $.each($('.'+pageName+'_input'),function(i,v){
      var id = $('.'+pageName+'_input').eq(i).attr('id');
      if ($('.form').validate().element($('#'+id))) {
        //console.log('ok');
      } else {
        result = false;
      }
    });
    //console.log(result);
    return result;
    //return true;
  }
  $('.next').click(function (e) {
    e.preventDefault();
    page = $('#conflict-tabs > li.active');
    if (valPage(page)) {
      page.next().children('a').tab('show');
      page.next().removeClass('closed');
      page.removeClass('shady');
    } else {
      page.addClass('shady');
      page.next().children('a').tab('show');
      page.next().removeClass('closed');
    }
  });
  $('.prev').click(function (e) {
    e.preventDefault();
    page = $('#conflict-tabs > li.active');
    if (valPage(page)) {
      page.prev().children('a').tab('show');
      page.removeClass('shady');
    } else {
      page.addClass('shady');
      page.next().children('a').tab('show');
    }
  });
  $('#conflict-tabs a').click(function (e) {
    e.preventDefault();
    cls = $(this).parent().attr('class');
    if ($(this).parent().hasClass('closed')) {
      //console.log('sorry')
    } else {
      $(this).tab('show');
    }
  })
  $(document).ready(function(){
    $.extend(jQuery.validator.messages, {
      required: 'Bu alan zorunludur.',
      email: 'Geçersiz e-posta adresi.',
    });
    $.validator.addMethod("minwords",
       function(value, element, params) {
          var trimmed = jQuery.trim(value).replace(/  +/g, ' ')
          var typedWords = trimmed.split(' ').length;
          if(typedWords > params) {
            return true;
          } else {
            return false;
          }
       },
       jQuery.format("En az {0} kelimelik bir açıklama yazınız.")
    );
    $.validator.addMethod("maxwords",
       function(value, element, params) {
          var trimmed = jQuery.trim(value).replace(/  +/g, ' ')
          var typedWords = trimmed.split(' ').length;
          if(typedWords <= params) {
            return true;
          } else {
            return false;
          }
       },
       $.format("{0} kelimeyi geçtiniz.")
    );
    $.validator.addMethod("valuenot", 
      function(value, element, params){
        //console.log(value);
        //console.log(params);
        return params != value;
      }, 
      "Lütfen bir seçim yapınız."
    );
    $.validator.addMethod("checkone", function(value, elem, param) {
        if($(".mustcheck:checkbox:checked").length > 0){
           return true;
       }else {
           return false;
       }
    },"En az bir seçim yap!");
    $(".form").validate({
      rules: {
        'conflict[name]': {
          required: true,
          maxlength: 255
        },
        'conflict[description]': {
          required: true,
          minwords: 10
        },
        'conflict[province_id]': {
          required: true,
          min: 1
        },
        'conflict[category_id]': {
          required: true,
          valuenot: ''
        },
        'type_id': {
          required: true,
          valuenot: ''
        },
        'product_id': {
          required: true,
          checkone: true
        },
      },
      errorPlacement: function(error, element) {
        error.appendTo( element.prev().prev().children('span'));
      },
    });
  });
