.modal-dialog
  .modal-content
    %form#tagform{:method=>'post',:action=>'/conflicts/tag'}
      .modal-header
        %button.close{:type=>'button','data-dismiss'=>'modal','aria-hidden'=>true} &times;
        %input{:type=>'hidden',:name=>'cid',:value=>@cid.to_s}
        -unless @tag.new_record?
          %input{:type=>'hidden',:name=>'id',:value=>(@tag.id)}
        -if @tag.new_record?
          %h3= "New Tag"
        -else
          %h3
            = "Editing Tag: #{@tag.name}"
            %small= "(##{@tag.id})"
      .modal-body
        .row
          .col-md-6
            %label Name
            %input.i_tag#tag_name{:type=>'text',:name=>'name',:value=>(@tag.name if @tag.name), :maxlength=>255, :validate=>true}
            %label Description
            %textarea.i_tag#tag_description{:type=>'text',:name=>'description',:rows=>6}
              = @tag.description if @tag.description
          .col-md-6
            %br/
            %br/
      .modal-footer
        -if @tag.new_record?
          %button.btn#b_tag Create
        -else
          %button.btn#b_tag Update

        :javascript
          var $id, $name;
          $('#tagform').on('submit',function(e){
            e.preventDefault();
            $.ajax({
              type: 'POST',
              url: '/conflicts/tag', 
              data: $(e.target).serialize(), 
              success: function(data,ts){
                data = JSON.parse(data)
                if (data.status == "success") {
                  tag = data.tag
                  $.getJSON("/data/autocomplete.json",function(data){
                    tag_names = data[1];
                    if (tag['name'] == $('#tag_name').val()){
                      $id = undefined;
                      $name = "";
                      if ($('ul#tag_list input[name=tag_add_'+tag['id']+']').length == 0) {
                        html = '<li id="tag_'+tag.id+'"> <span>'+tag.name+'</span> <a onclick="remove_li(\'tag\','+tag.id+')" style="cursor:pointer">Remove</a> &nbsp; <input name="tag_add_'+tag.id+'" type="hidden"> </li>'
                        $('ul#tag_list').append(html)
                      }
                      $('#tag-modal').modal('hide');
                    }
                  });
                } else {
                  $('#tagform .modal-footer').prepend("<b class='error' style='color:#c00'>"+data.message+"</b>")
                }
              },
              error: function(data,ts,error){
                alert(ts+' '+error)
              }
            });
          });

          $('body').on('hidden.bs.modal', '#tag-modal', function () {
            $(this).removeData('bs.modal');
            $('#tag-modal').html('');
            $('b.error').remove();
            if ($id != undefined && $id > 0 && $name != "") {
              $('#tag-modal').modal({remote:"/conflicts/modal/tag/"+$id})
            }
            $id = undefined;
          });
