-#coding:utf-8
-content_for :include do
  =javascript_include_tag 'upload_iframe'
-content_for :outer do
  #m_image.modal.fade
    .modal-dialog
      .modal-content
        %form
          .modal-header
            %button.close{:type=>'button','data-dismiss'=>'modal','aria-hidden'=>true} &times;
            %h3 Upload Image
          .modal-body
            %label Title:
            %input.i_image#image_title{:type=>'text',:name=>'image[title]'}
            %br/
            %label File:
            %br/
            %input.i_image#image_file{:type=>'file',:name=>'image[file]'}
            %input#image_file_cache{:type=>'hidden',:name=>'image[file_cache]'}
            %input#image_featured_id{:type=>'hidden',:name=>'image[account_id]',:value=>"#{@account.id}"}
            %p
              #upload
          .modal-footer
            .row
              .col-md-6
                %input.btn.btn-info#b_image{:type=>'button',:value=>'Send'} 

.row
  -if current_account and ["admin","editor"].include?(current_account.role)
    .col-md-10.col-md-offset-2
      %p{:style=>"color:#999;"}
        = @account.approved ? "Approved" : "Not approved"
        &nbsp; &#8212; &nsbp;
        = @account.confirmed ? "email confirmed." : "email not confirmed."
  .col-md-4.col-md-offset-2
    .group
      =f.label 'Name and Surname'
      =f.error_message_on :name
      =f.text_field :name, :class => :text_field

    .group
      =f.label 'E-mail'
      =f.error_message_on :email
      =f.text_field :email, :class => :text_field

    .group
      =f.label 'Phone'
      =f.error_message_on :phone
      =f.text_field :phone, :class => :text_field

    .group
      =f.label 'Address'
      =f.error_message_on :address
      =f.text_field :address, :class => :text_field

    -#.group
      =f.label 'public'
      =f.error_message_on :public
      &nbsp;
      %input{:type=>'radio', :name=>'account[public]', :value=>'true', :checked => (!@account.public ? false : '')} Yes
      &nbsp;
      %input{:type=>'radio', :name=>'account[public]', :value=>'false', :checked => (@account.public ? false : '')} No
      %p.description Show your name and organization info publicly in cases you entered?

    -unless @account.new_record?
      .group
        %input#n_image.btn.full{'data-toggle'=>'modal','data-target'=>'#m_image',:value=>'Upload Image',:style=>'margin-top:20px;width:100%;'}
        %br/
        %br/
        .images
          -@account.images.each_with_index do |img,ind|
            .image
              .row
                .col-md-4
                  %a{:href=>img.file_url,:target=>'_blank'}
                    %img{:src=>img.file.thumb,:style=>'width:100%'}
                  %br/
                .col-md-8
                  %input{:type=>'text',:name=>"images_attributes[#{ind}][title]",:id=>"images_attributes_#{ind}_title",:value=>(img.title || "")}
                  %br/
                  %input.prime{:type=>'checkbox',:name=>"images_attributes[#{ind}][prime]",:id=>"images_attributes_#{ind}_prime",:checked=>img.prime == 1}
                  %label{:for=>"images_attributes_#{ind}_prime"} Primary image?
                  %br/
                  %input{:type=>'hidden',:name=>"images_attributes[#{ind}][_destroy]"}
                  %input{:type=>'checkbox',:name=>"images_attributes[#{ind}][_destroy]",:id=>"images_attributes_#{ind}__destroy"}
                  %label{:for=>"images_attributes_#{ind}__destroy"} Delete?
              %br/

    -if current_account and ["admin","editor"].include?(current_account.role)
      .group
        =f.label :role
        =f.error_message_on :role
        =f.select :role, :options => access_control.roles
      .group
        -Role.order(:name).each do |role|
          %br/
          %input{:type=>"hidden", :name=>"account[roles][#{role.name}]", :value=>"off"}
          %input{:type=>"checkbox", :name=>"account[roles][#{role.name}]", :value=>"on", :checked => (@account.roles.include?(role))}= role.name.unslug(:up)
    -elsif current_account and current_account.roles.any?
      .group
        -current_account.roles.each do |role|
          %p= role.name.unslug

  .col-md-4
    .group
      -if @account.new_record?
        =f.label 'Please enter here your organization, group, institution you are affiliated with (if any)'
      -else
        =f.label 'Organization'
      =f.error_message_on :organization
      =f.text_field :organization, :class => :text_field

    .group
      %label{:for=>"account_source"} How did you learn about the EJAtlas?
      =f.error_message_on :source
      =f.text_area :source, :class => :text_area

    .group
      -if @account.new_record?
        =f.label 'Please tell us what conflicts you wish to enter and describe briefly your activity related to them'
      -else
        =f.label 'Intentions'
      =f.error_message_on :intention
      =f.text_area :intention, :class => :text_area

    .group
      -if @account.new_record?
        =f.label 'Other comments to the EJatlas editors'
      -else
        =f.label 'Comments'
      =f.error_message_on :comments
      =f.text_area :comments, :class => :text_area

    -if @pass
      .group
        =f.label 'Password'
        =f.error_message_on :password
        =f.password_field :password, :class => :password_field

      .group
        =f.label 'Password (again)'
        =f.error_message_on :password_confirmation
        =f.password_field :password_confirmation, :class => :password_field

    -if @account.new_record?
      %br/
      %p 
        %strong Thank you very much for your contribution. We’ll get back to you as soon as possible.
      %p 
        You can also collaborate to our work by
        %strong
          %a{:href=>'https://docs.google.com/forms/d/1jGi8V-8-0YVRjqZXV1NN2SkSMj9TT7H4JIH44HDq6IA/viewform'} filling out our survey.
      %p{:style=>'text-align: right'}
        Best wishes, 
        %br/
        EJatlas editors


    .group.navform.wat-cf{:style=>'margin-top:24px;'}
      %input.btn.pull-right{:type=>"submit",:value=>"Save"}
      -if current_account and ["admin","editor"].include?(current_account.role)
        -if @account.approved
          %a.btn.pull-right{:href=>"/accounts/disapprove/#{@account.id}"} Disapprove
        -else
          %a.btn.pull-right{:href=>"/accounts/approve/#{@account.id}"} Approve
        %a.btn.pull-right{:href=>"/accounts/delete/#{@account.id}"} Delete


:javascript
  var uploading = false;
  function uploadResponse (resp) {
    if (uploading){
      return 
    }
    uploading = true;
    $('iframe#upload_iframe').remove();
    if (resp === 'no') {
      alert ('An error occured while sending the file.');
      return
    }
    dat = JSON.parse(resp);
    if (dat.n == 1) {
      html = "<div class='images'> <div class='row'> <div class='col-md-4'> <a href='"+dat.file+"' target='_blank'> <img src='"+dat.thumb+"' style='width:100%'> </a> <br> </div> <div class='col-md-8'> <input id='images_attributes_"+dat.n+"_title' name='images_attributes["+dat.n+"][title]' value='"+dat.title+"' type='text'> <br> </div> </div> <br> </div>";
    } else {
      html = "<div class='images'> <div class='row'> <div class='col-md-4'> <a href='"+dat.file+"' target='_blank'> <img src='"+dat.thumb+"' style='width:100%'> </a> <br> </div> <div class='col-md-8'> <input id='images_attributes_"+dat.n+"_title' name='images_attributes["+dat.n+"][title]' value='"+dat.title+"' type='text'> <br> <input class='prime' id='images_attributes_"+dat.n+"_prime' name='images_attributes["+dat.n+"][prime]' type='checkbox'> <label for='images_attributes_"+dat.n+"_prime'>Primary image?</label> <br> <input name='images_attributes["+dat.n+"][_destroy]' type='hidden'> <input id='images_attributes_"+dat.n+"__destroy' name='images_attributes["+dat.n+"][_destroy]' type='checkbox'> <label for='images_attributes_"+dat.n+"__destroy'>Delete?</label> </div> </div> <br> </div>";
    }
    $('.images').append(html);
    $('#m_image').modal('hide');
  }
  $(document).ready(function(){
    $('#m_image').on('hidden.bs.modal', function () {
      $('.i_image').val('');
      $('#b_image').removeClass('disabled');
      uploading = false;
    })
    $('#m_image').on('shown.bs.modal', function() {
      $('#image_url').focus();
    });
    $('#b_image').click(function(e){
      if ($('#image_file').val()=='') {
        $('#image_file').focus();
        return
      }
      $('#b_image').addClass('disabled');
      e.preventDefault();
      fileUpload(this.form,'/accounts/getimage','upload');
    });
    $('#cn_image').click(function(e){
      $('#m_image').modal('hide');
    });
    //$(".datemask").mask("99/99/9999");
    //$('.datemask').attr('placeholder','____/__/__');
  });

