-#coding:utf-8
-content_for :include do
  =javascript_include_tag 'upload_iframe'
-content_for :outer do
  #m_image.modal.fade
    .modal-dialog
      .modal-content
        %form
          .modal-header
            %button.close{:type=>'button','data-dismiss'=>'modal','aria-hidden'=>true} &times;
            %h3 Upload Image
          .modal-body
            %label Title:
            %input.i_image#image_title{:type=>'text',:name=>'image[title]'}
            %br/
            %label File:
            %br/
            %input.i_image#image_file{:type=>'file',:name=>'image[file]'}
            %input#image_file_cache{:type=>'hidden',:name=>'image[file_cache]'}
            %input#image_featured_id{:type=>'hidden',:name=>'image[account_id]',:value=>"#{@account.id}"}
            %p
              #upload
          .modal-footer
            .row
              .col-md-6
                %input.btn.btn-info#b_image{:type=>'button',:value=>'Send'} 

.row
  -if current_account and ["admin","editor"].include?(current_account.role)
    .col-md-10.col-md-offset-2
      %p{:style=>"color:#999;"}
        = @account.approved ? "Approved" : "Not approved"
        &nbsp; &#8212; &nbsp;
        = @account.confirmed ? "email confirmed." : "email not confirmed."
  .col-md-4.col-md-offset-2
    .group
      =f.label t("m.account.name_and_surname")
      =f.error_message_on :name
      =f.text_field :name, :class => :text_field

    .group
      =f.label t("m.account.e_mail")
      =f.error_message_on :email
      =f.text_field :email, :class => :text_field

    .group
      =f.label t("m.account.phone")
      =f.error_message_on :phone
      =f.text_field :phone, :class => :text_field

    .group
      =f.label t("m.account.address")
      =f.error_message_on :address
      =f.text_field :address, :class => :text_field

    -#.group
      =f.label 'public'
      =f.error_message_on :public
      &nbsp;
      %input{:type=>'radio', :name=>'account[public]', :value=>'true', :checked => (!@account.public ? false : '')} Yes
      &nbsp;
      %input{:type=>'radio', :name=>'account[public]', :value=>'false', :checked => (@account.public ? false : '')} No
      %p.description Show your name and organization info publicly in cases you entered?

    -unless @account.new_record?
      .group
        %input#n_image.btn.full{'data-toggle'=>'modal','data-target'=>'#m_image',:value=>'Upload Image',:style=>'margin-top:20px;width:100%;'}
        %br/
        %br/
        .images
          -@account.images.each_with_index do |img,ind|
            .image
              .row
                .col-md-4
                  %a{:href=>img.file_url,:target=>'_blank'}
                    %img{:src=>img.file.thumb,:style=>'width:100%'}
                  %br/
                .col-md-8
                  %input{:type=>'text',:name=>"images_attributes[#{ind}][title]",:id=>"images_attributes_#{ind}_title",:value=>(img.title || "")}
                  %br/
                  %input.prime{:type=>'checkbox',:name=>"images_attributes[#{ind}][prime]",:id=>"images_attributes_#{ind}_prime",:checked=>img.prime == 1}
                  %label{:for=>"images_attributes_#{ind}_prime"} Primary image?
                  %br/
                  %input{:type=>'hidden',:name=>"images_attributes[#{ind}][_destroy]"}
                  %input{:type=>'checkbox',:name=>"images_attributes[#{ind}][_destroy]",:id=>"images_attributes_#{ind}__destroy"}
                  %label{:for=>"images_attributes_#{ind}__destroy"} Delete?
              %br/

    -if current_account and ["admin","editor"].include?(current_account.role)
      .group
        =f.label t("m.account.role")
        =f.error_message_on :role
        =f.select :role, :options => access_control.roles
      .group
        -Role.order(:name).each do |role|
          %br/
          %input{:type=>"hidden", :name=>"account[roles][#{role.name}]", :value=>"off"}
          %input{:type=>"checkbox", :name=>"account[roles][#{role.name}]", :value=>"on", :checked => (@account.roles.include?(role))}= role.name.unslug(:up)
    -elsif current_account and current_account.roles.any?
      .group
        -current_account.roles.each do |role|
          %p= role.name.unslug

  .col-md-4
    .group
      -if @account.new_record?
        =f.label t("m.account.please_enter_here_your_organization_group_institution_you")
      -else
        =f.label t("m.account.organization")
      =f.error_message_on :organization
      =f.text_field :organization, :class => :text_field

    .group
      %label{:for=>"account_source"}= t("m.account.how_did_you_learn_about_the_ejatlas")
      =f.error_message_on :source
      =f.text_area :source, :class => :text_area

    .group
      -if @account.new_record?
        =f.label t("m.account.please_tell_us_what_conflicts_you_wish_to")
      -else
        =f.label t("m.account.intentions")
      =f.error_message_on :intention
      =f.text_area :intention, :class => :text_area

    .group
      -if @account.new_record?
        =f.label t("m.account.other_comments_to_the_ejatlas_editors")
      -else
        =f.label t("m.account.comments")
      =f.error_message_on :comments
      =f.text_area :comments, :class => :text_area

    -if @pass
      .group
        =f.label t("m.account.password")
        =f.error_message_on :password
        =f.password_field :password, :class => :password_field

      .group
        =f.label t("m.account.password_again")
        =f.error_message_on :password_confirmation
        =f.password_field :password_confirmation, :class => :password_field

    -if @account.new_record? and current_account.role == "admin"
      %br/
      .group
        #privacy{:style=>"display:none;"}
          .row
            .col-sm-6
              %p
                In accordance with current EU Regulation 2016/679, we inform you that the personal data you provide to us will be processed for the 
                %b preparation of the EJAtlas
                – Global Atlas of Environmental Justice. 
              %p
                Processing of your data will be protected by your own consent. By pressing the 
                %b "SAVE" 
                button, you will consent to the treatment described above.  We also inform you that, except for legal obligation or express consent on your part, we will not transfer your data to third parties.  Likewise, we wish to inform you that at any time you can exercise the rights of access, rectification or deletion of data, as well as other rights recognized in this document and regulated in Regulation (EU) 2016/679. You can do so by sending an email with a copy of your ID to the following email address: 
                %b
                  %a{:href=>"mailto:ejoltmap@gmail.com"} ejoltmap@gmail.com.
                Additional and detailed information on Data Protection on our website: 
                %b
                  %a{:href=>"/legal#privacy"} https://ejatlas.org/legal.
            .col-sm-6
              %p
                De conformidad con el vigente Reglamento (UE) 2016/679, informamos que los datos de carácter personal que nos proporcione se tratarán para lo siguiente: 
                %b Para la elaboración del Atlas de Justicia Ambiental.
              %p
                Dicho tratamiento de sus datos estará amparado en su propio consentimiento. Al pulsar el botón “ENVIAR”, el Usuario consiente el tratamiento arriba descrito.
              %p
                Asimismo, le informamos que, salvo obligación legal o consentimiento expreso por su parte, no cederemos sus datos a terceros.
              %p
                Igualmente, se informa al Usuario que en cualquier momento puede ejercitar los derechos de acceso, rectificación o supresión de datos, así como disponer de otros derechos reconocidos en el presente documento y regulados en el Reglamento (UE) 2016/679, enviando un correo electrónico con copia de su NIF a la siguiente dirección electrónica:
                %b
                  %a{:href=>"mailto:ejoltmap@gmail.com"} ejoltmap@gmail.com.
                Información adicional y detallada sobre Protección de Datos en nuestra página web:
                %b
                  %a{:href=>"/legal#privacy"} https://ejatlas.org/legal.

        %input#general{:type=>'checkbox',:name=>"account[privacy_accepted]", :checked=>false, :validate=>true, :required=>true}
          %a{:onclick=>"showPrivacyPolicy();"}=" &nbsp; #{t("f.account.i_accept_privacy_policy")}".html_safe
      %br/
      %p 
        %strong= t("m.account.thank_you_very_much_for_your_contribution_well")
      %p 
        You can also collaborate to our work by
        %strong
          %a{:href=>'https://docs.google.com/forms/d/1jGi8V-8-0YVRjqZXV1NN2SkSMj9TT7H4JIH44HDq6IA/viewform'} filling out our survey.
      %p{:style=>'text-align: right'}
        Best wishes, 
        %br/
        EJatlas editors


    .group.navform.wat-cf{:style=>'margin-top:24px;'}
      %input.btn.pull-right{:type=>"submit",:value=>"Save"}
      -if current_account and ["admin","editor"].include?(current_account.role)
        -if @account.approved
          %a.btn.pull-right{:href=>"/accounts/disapprove/#{@account.id}"} Disapprove
        -else
          %a.btn.pull-right{:href=>"/accounts/approve/#{@account.id}"} Approve
        %a.btn.pull-right{:href=>"/accounts/delete/#{@account.id}"} Delete


:javascript
  var uploading = false;
  function uploadResponse (resp) {
    if (uploading){
      return 
    }
    uploading = true;
    $('iframe#upload_iframe').remove();
    if (resp === 'no') {
      alert ('An error occured while sending the file.');
      return
    }
    dat = JSON.parse(resp);
    if (dat.n == 1) {
      html = "<div class='images'> <div class='row'> <div class='col-md-4'> <a href='"+dat.file+"' target='_blank'> <img src='"+dat.thumb+"' style='width:100%'> </a> <br> </div> <div class='col-md-8'> <input id='images_attributes_"+dat.n+"_title' name='images_attributes["+dat.n+"][title]' value='"+dat.title+"' type='text'> <br> </div> </div> <br> </div>";
    } else {
      html = "<div class='images'> <div class='row'> <div class='col-md-4'> <a href='"+dat.file+"' target='_blank'> <img src='"+dat.thumb+"' style='width:100%'> </a> <br> </div> <div class='col-md-8'> <input id='images_attributes_"+dat.n+"_title' name='images_attributes["+dat.n+"][title]' value='"+dat.title+"' type='text'> <br> <input class='prime' id='images_attributes_"+dat.n+"_prime' name='images_attributes["+dat.n+"][prime]' type='checkbox'> <label for='images_attributes_"+dat.n+"_prime'>Primary image?</label> <br> <input name='images_attributes["+dat.n+"][_destroy]' type='hidden'> <input id='images_attributes_"+dat.n+"__destroy' name='images_attributes["+dat.n+"][_destroy]' type='checkbox'> <label for='images_attributes_"+dat.n+"__destroy'>Delete?</label> </div> </div> <br> </div>";
    }
    $('.images').append(html);
    $('#m_image').modal('hide');
  }
  function showPrivacyPolicy() {
    $("#privacy").slideDown();
  }
  $(document).ready(function(){
    $('#m_image').on('hidden.bs.modal', function () {
      $('.i_image').val('');
      $('#b_image').removeClass('disabled');
      uploading = false;
    })
    $('#m_image').on('shown.bs.modal', function() {
      $('#image_url').focus();
    });
    $('#b_image').click(function(e){
      if ($('#image_file').val()=='') {
        $('#image_file').focus();
        return
      }
      $('#b_image').addClass('disabled');
      e.preventDefault();
      fileUpload(this.form,'/accounts/getimage','upload');
    });
    $('#cn_image').click(function(e){
      $('#m_image').modal('hide');
    });
    //$(".datemask").mask("99/99/9999");
    //$('.datemask').attr('placeholder','____/__/__');
  });

