.row
  .col-md-6.col-md-offset-3
    .hero-unit
      %h1.title Confirm #{@action}
      %p
        Are you sure you want to 
        %b= @action
        the collaborator <b>#{@account.name}</b>?
    %form{:method=>@method,:action=>"/accounts/#{@action}/#{@account.id}"}
      %a.btn.btn-info{:onclick=>"window.history.back()"} CANCEL
      %button.btn.btn-danger{:type=>:submit} CONFIRM

