.navbar.navbar-fixed-top{:role=>'navigation'}
  .navbar-inner
    .container
      %ul.nav.nav-pills
        %li.first
          %a &nbsp;
        %li.home
          %a{:href => "/"}= t "v.menu.home"
        -if current_account
          -if current_account.editor?
            %li.dropdown#conflicts
              %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#conflicts'}
                = t "f.menu.conflicts"
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href=>'/conflicts/new'}= t "f.menu.add_new"
                %li.divider
                %li
                  %a{:href=>'/conflicts/approved'}= t "f.conflict.approved"
                %li
                  %a{:href=>'/conflicts/modified'}= t "f.conflict.modified"
                %li
                  %a{:href=>'/conflicts/queued'}= t "f.conflict.queued"
                %li
                  %a{:href=>'/conflicts/draft'}= t "f.conflict.draft"
                %li
                  %a{:href=>'/conflicts/deleted'}= t "f.conflict.deleted"
                %li.divider
                %li
                  %a{:href=>'/conflicts'}= t "f.menu.all_cases"

            %li.dropdown#editor
              %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#editor'}
                = t "f.menu.moderation"
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href=>'/cache'}= t "f.menu.update_cache"
                %li
                  %a{:href=>'/export'}= t "f.menu.export_cases"
                %li
                  %a{:href=>'/jobs'}= t "f.menu.jobs"
                %li
                  %a{:href=>'/translations'}= t "f.menu.translations"

            %li.dropdown#models
              %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#models'}
                = t 'f.menu.models'
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href=>'/filters'}= t "f.menu.filters"
                %li
                  %a{:href=>'/featureds'}= t "f.menu.featured_maps"
                %li
                  %a{:href=>'/types'}= t "f.menu.categories"
                %li
                  %a{:href=>'/countries'}= t "f.menu.countries"
                %li
                  %a{:href=>'/companies'}= t "f.menu.companies"
                %li
                  %a{:href=>'/ifis'}= t "f.menu.ifis"
                %li
                  %a{:href=>'/tags'}= t "m.tags.tags"
                %li.divider
                %li
                  %a{:href=>'/accounts'}= t "f.menu.collaborators"
                %li
                  %a{:href=>'/accounts/requests'}= t "f.menu.collaboration_requests"
                %li.divider
                %li
                  %a{:href=>'/vectors'}= t "f.menu.vectors"
                %li
                  %a{:href=>'/vectors/styles'}= t "f.menu.vector_styles"

          -else
            %li
              %a{:href=>"/accounts/edit/#{current_account.id}"}= t "v.menu.my_profile"
            %li
              %a{:href=>'/conflicts'}= t "v.menu.my_conflicts"
            %li
              %a{:href=>'/conflicts/new'}= t "v.menu.new_conflict"
            %li.dropdown#models
              %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#models'}
                = 'Models'
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href=>'/filters'}= t "f.menu.filters"
                %li
                  %a{:href=>'/tags'}= t "m.tags.tags"
                %li.divider
                %li
                  %a{:href=>'/featureds'}= t "f.menu.featured_maps"
                %li
                  %a{:href=>'/vectors'}= t "f.menu.vectors"
                %li
                  %a{:href=>'/vectors/styles'}= t "f.menu.vector_styles"

          %li
            %form#signout.hide{:action=>'/sessions/destroy',:method=>'post'}
              %input{:value=>'delete',:name=>'_method',:type=>'hidden'}
            %a{:href=>'#',:onclick=>'$("#signout").submit()'}= t "v.menu.logout"
        -else
          %li.dropdown#ejolt
            %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#ejolt'}
              =t "v.menu.ej_atlas"
              %b.caret
            %ul.dropdown-menu
              %li
                %a{:href=>'/about'}= t "v.menu.about"
              %li
                %a{:href=>'/disclaimer'}= t "v.menu.disclaimer"
              %li
                %a{:href=>'/credits'}= t "v.menu.credits_collaborators"
              %li
                %a{:href=>'/contact'}= t "v.menu.contact"
              %li
                %a{:href=>'/datapolicy'}= t "v.menu.data_use_policy"
              %li.divider
              %li
                %a{:href => "http://acknowlej.org/"}= t "v.menu.acknowl_ej"
              %li
                %a{:href => "http://ejolt.org/"}= t "v.menu.ejolt"
          %li.dropdown#maps
            %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#maps'}
              = t "v.menu.maps"
              %b.caret
            %ul.dropdown-menu
              -if @featureds and @featureds.any?
                -@featureds.each do |feat|
                  %li
                    %a{:href=>"/featured/#{feat.slug}"}= feat.name
                %li.divider
              %li
                %a{:href=>'/country'}= t "v.menu.country_maps"
              %li
                %a{:href=>'/company'}= t "v.menu.company_maps"
              %li
                %a{:href=>'/commodity'}= t "v.menu.commodity_maps"

          -if current_account.nil?
            %li.dropdown#login
              %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#login'}
                = t "v.menu.login"
                %b.right-caret
              %ul.dropdown-menu.dropdown-right
                =form_tag("/sessions/create/", :class => 'form login', :style=>'margin:0') do
                  .clearfix
                    .pull-left
                      &nbsp;
                      =t "v.menu.email"
                    .pull-left=text_field_tag :email, :value => params[:email]
                    .pull-left
                      =t "v.menu.password" 
                    .pull-left=password_field_tag :password, :value => params[:password]
                    .pull-left
                      %input.btn{:type=>"submit",:value=>t("v.menu.enter")}
                    .pull-left.small
                      %a{:href=>"/sessions/login"}= t "v.menu.help"

      -if current_account.editor? and false
        .tagline
          %ul{:style=>"margin:0;padding:0"}
            %li.dropdown#locales
              %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#locales'}
                %p{:style=>"margin: 0 !important; line-height: 19px;"}= t "v.menu.environmental_justice_atlas"
                %b.caret{:style=>"position: relative; top: -20px; left: -16px; border-top: 8px solid white;"}
              %ul.dropdown-menu{:style=>"margin: -9px -8px; background: transparent;padding-top:21px;box-shadow:none;"}
                -($moderated_locales).sort.each do |l|
                  -trt = I18n.with_locale(l) {|x| I18n.t "v.menu.environmental_justice_atlas"}
                  -next if l == I18n.locale.to_s
                  -next if (trt == I18n.t("v.menu.environmental_justice_atlas") and l != "en")
                  %li{:style=>"background:#024357"}
                    %a{:href=>"#{Admin.local_url(l)}#{request.path}",:style=>"font-weight:bold;padding: 3px 9px"}= "#{trt} (#{l.upcase})"
      -else
        .tagline
          %p= t "v.menu.environmental_justice_atlas"
      .ejatlas-logo{:style=>"left:175px;z-index:11;"}


