-# coding: utf-8
!!!
%html{:lang => I18n.locale.to_s, :dir=>@dir}
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,latin-ext", :rel=>'stylesheet', :type=>'text/css'}/
    %meta{:charset => "utf-8"}/
    %title= @name ? @name + ' | ' + "EJAtlas" : "EJAtlas | Mapping Environmental Justice"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => 'text/html;charset=UTF-8', 'http-equiv' => "content-type"}/
    %meta{:content => $title, :property => "og:title"}/
    %meta{:content => $pagedesc, :property => "og:description"}/
    %meta{:content => Admin.local_url(I18n.locale), :property => "og:url"}/
    %meta{:content => Admin.local_url(I18n.locale) + '/images/direncevre_og.jpg', :property => "og:image"}/
    %meta{:content => $pagedesc, :name => "description"}/
    %meta{:content => $pageauthor, :name => "author"}/
    %meta{:content => $pagekeyws, :name => "keywords"}/
    /%link{:href => "/stylesheets/bootstrap.less", :rel => "stylesheet/less"}/
    /=javascript_include_tag 'dist/less'
    -if @dir == "ltr"
      =stylesheet_link_tag 'main'
    -else
      =stylesheet_link_tag 'main-rtl'
    -if ENV['RACK_ENV'] == 'development'
      =javascript_include_tag 'backall'
    -else
      =javascript_include_tag 'backend'
    =yield_content :include

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    / %link{:href => "assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / %link{:href => "assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / %link{:href => "assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/

  %body{"data-offset" => "0", "data-spy" => "scroll", "data-target" => ".subnav",:class=>(current_account.editor? ? "editor" : "")}
    #top.contentwrapper
      =partial "layouts/nav"

      -if current_account and false
        #maintenance_alert{:style=>"position:fixed;top:0;right:12px;z-index:999;background-color:#fc8832;color:#eee;font-weight:bold;padding:8px 12px 0; "}
          %p
            Testing mode - please
            %a{:href=>"mailto:yakup.cetinkaya@gmail.com?cc=ejoltmap@gmail.com&subject=Ejatlas testing report on #{request.path}",:style=>"color:#eee;text-decoration:underline;cursor:pointer"} report
            any weird behaviour to the moderator.

      %header
        .container{:style=>"position:relative;"}
          -if @static and current_account.editor?
            %a{:href=>"/edit_static/#{@slug}",:title=>"Edit",:style=>"position:absolute; right:18px;top:100px;font-size:32px;"}
              %span.glyphicon.glyphicon-edit

          =yield_content :outer
          %br/
          %br/
          %br/
          -if @static
            %br/
          .inner= yield
          %br/
          %br/
          %br/

      =yield_content :body_end

      #aviso{:style=>"position:fixed;bottom:0;left:0;z-index:1000;background-color:rgba(255,255,255,0.7);padding:0 5px;"}
        %a{:href=>"/legal",:style=>"font-size:11px;font-weight:bold;display:block;", :target=>"_blank"} Legal notice / Aviso legal

      -if current_account.nil? or ( current_account and current_account.cookies_accepted.nil? )
        #cookies_disclaimer
          %table
            %tr
              %td
                We use cookies for statistical purposes and to improve our services. By clicking "Accept cookies" you consent to place cookies when visiting the website. For more information, and to find out how to change the configuration of cookies, please read our 
                %a{:href=>"/legal#cookies"} cookie policy.
              %td
                Utilizamos cookies para realizar el análisis de la navegación de los usuarios y mejorar nuestros servicios. Al pulsar "Accept cookies" consiente dichas cookies. Puede obtener más información, o bien conocer cómo cambiar la configuración, pulsando en 
                %a{:href=>"/legal#cookies"} más información.
              %td
                %button.btn{:onclick=>"acceptCookies();"} Accept cookies

        :javascript
          if (localStorage.getItem("cookies_accepted")!="true") {
            $("#cookies_disclaimer").fadeIn(500);
          }
          function acceptCookies() {
            $("#cookies_disclaimer").fadeOut(500);
            $.post("/accept_cookies");
            localStorage.setItem("cookies_accepted","true");
          }

      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-49025282-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      -if ENV['RACK_ENV'] == "production" and false
        :javascript 
          window.onerror = function(message, url, lineNumber) {  
            console.log(message, url, lineNumber);
            $.ajax({
              type: 'POST',
              url: '/error',
              data: "message="+message+"&url="+window.location.href+"&file="+url+"&line="+lineNumber,  
              success: function(data,ts){
                //console.log('error reported:');
                //console.log(message, url, lineNumber);
              },
              error: function(data,ts,error){
                //console.log('error report failed:');
                //console.log(error);
                //console.log(message, url, lineNumber);
              }
            });
            return true;
          };  

      -if request.path.match(/edit/) or current_account.editor?
        :javascript
          $full = false;
          $.getJSON("/data/autocomplete_#{I18n.locale}.json?#{rand(1000)}",function(data){
            relateds = data[0];
            tag_names = data[1];
            emails = data[2];
            (function( $ ) {
              $.ui.autocomplete.prototype.options.autoSelect = true;
              $( "body" ).on( "blur", ".autocomplete", function( event ) {
                var autocomplete = $( this ).data()['uiAutocomplete'] || $( this ).data()['ui-autocomplete'];
                if ( !autocomplete.options.autoSelect || autocomplete.selectedItem ) { return; }
                var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" );
                autocomplete.widget().children( ".ui-menu-item" ).each(function() {
                  var item = $( this )
                  if ( matcher.test( item.value || item ) ) {
                    autocomplete.selectedItem = item;
                    return false;
                  } else {
                    $('.autocomplete').val('');
                    return false
                  }
                });
                if ( autocomplete.selectedItem ) {
                  autocomplete._trigger( "select", event, { item: autocomplete.selectedItem } );
                }
              });

            }( jQuery ));
            $( ".autocomplete" ).autocomplete({
              minLength: 2,
              position: { my : "right top", at: "right bottom" },
              source: function( request, response ) {
                $source = eval($('.autocomplete:focus').attr('data-source'));
                var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
                response( $.grep( $source, function( value ) {
                  value = value.value || value;
                  return matcher.test( value );
                }) );
              },
              select: function( event, ui ) {
                $item = $('.autocomplete:focus');
                if ($item.closest("input").hasClass("noaction")) {
                  $item.closest("input").val(ui.item.value);
                } else {
                  $item.val( "" );
                  $id = $item.attr('id');
                  $ul = $item.closest(".clearfix").nextAll('ul')
                  $html = "<span>"+ui.item.value+"</span> &nbsp; <a style='cursor:pointer' onclick=remove_li('"+$id+"',"+ui.item.id+")>Remove</a><input type='hidden' name='"+$id+"_add_"+ui.item.id+"'></input>"
                  $($ul).append($('<li>', { id: $id+'_'+ui.item.id, html: $html, class:"on"}));
                }
                return false;
              }
            });
          });

          function remove_li (name, id) { 
            $target = $('li#'+name+'_'+id) 
            $target.removeClass("on").addClass("off");
            $target.find('span').css('text-decoration','line-through');
            $target.find('input').attr('name',name+"_remove_"+id);
            $target.find('a').text('Add back');
            $target.find('a').attr('onclick',"add_li('"+name+"',"+id+")");
          }
          function add_li (name, id) { 
            $target = $('li#'+name+'_'+id) 
            $target.removeClass("off").addClass("on");
            $target.find('span').css('text-decoration','none');
            $target.find('input').attr('name',name+"_add_"+id);
            $target.find('a').text('Remove');
            $target.find('a').attr('onclick',"remove_li('"+name+"',"+id+")");
          }


