-# coding: utf-8
!!!
%html{:lang => "en"}
  %head
    %link{:href => "https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,latin-ext", :rel=>'stylesheet', :type=>'text/css'}/
    %meta{:charset => "utf-8"}/
    %title= @name ? @name + ' | ' + "EJAtlas" : "EJAtlas | Mapping Environmental Justice"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => 'text/html;charset=UTF-8', 'http-equiv' => "content-type"}/
    %meta{:content => $title, :property => "og:title"}/
    %meta{:content => $pagedesc, :property => "og:description"}/
    %meta{:content => $siteurl, :property => "og:url"}/
    %meta{:content => $siteurl + '/images/direncevre_og.jpg', :property => "og:image"}/
    %meta{:content => $pagedesc, :name => "description"}/
    %meta{:content => $pageauthor, :name => "author"}/
    %meta{:content => $pagekeyws, :name => "keywords"}/
    /%link{:href => "/stylesheets/bootstrap.less", :rel => "stylesheet/less"}/
    /=javascript_include_tag 'less'
    =stylesheet_link_tag 'main'
    =javascript_include_tag 'backend'
    =yield_content :include

    / Le HTML5 shim, for IE6-8 support of HTML5 elements
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    / %link{:href => "assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / %link{:href => "assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / %link{:href => "assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/

  %body{"data-offset" => "0", "data-spy" => "scroll", "data-target" => ".subnav"}
    #top.contentwrapper
      .navbar{:role=>'navigation'}
        .navbar-inner
          .container
            .row
              .col-md-12{:style=>'position:relative'}
                %ul.nav.nav-pills
                  %li.first
                    %a &nbsp;
                  %li.home
                    %a{:href => "/"}= "Home"
                  -if current_account
                    -if ['admin','editor'].include? current_account.role
                      %li.dropdown#conflicts
                        %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#conflicts'}
                          = 'Conflicts'
                          %b.caret
                        %ul.dropdown-menu
                          %li
                            %a{:href=>'/conflicts/new'} Add new
                          %li.divider
                          %li
                            %a{:href=>'/conflicts/approved'} Approved
                          %li
                            %a{:href=>'/conflicts/modified'} Modified
                          %li
                            %a{:href=>'/conflicts/queued'} Queued
                          %li
                            %a{:href=>'/conflicts/draft'} Draft
                          %li
                            %a{:href=>'/conflicts/deleted'} Deleted
                          %li.divider
                          %li
                            %a{:href=>'/conflicts'} All cases

                      %li.dropdown#editor
                        %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#editor'}
                          = 'Moderation'
                          %b.caret
                        %ul.dropdown-menu
                          %li
                            %a{:href=>'/cache'} Update cache
                          %li
                            %a{:href=>'/export'} Export cases
                          %li
                            %a{:href=>'/jobs'}= "Jobs"

                      %li.dropdown#models
                        %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#models'}
                          = 'Models'
                          %b.caret
                        %ul.dropdown-menu
                          %li
                            %a{:href=>'/filters'} Filters
                          %li
                            %a{:href=>'/featureds'} Featured maps
                          %li
                            %a{:href=>'/types'} Categories
                          %li
                            %a{:href=>'/countries'} Countries
                          %li
                            %a{:href=>'/companies'} Companies
                          %li
                            %a{:href=>'/ifis'} IFI's
                          %li
                            %a{:href=>'/accounts'} Collaborators
                          %li.divider
                          %li
                            %a{:href=>'/vectors'} Vectors
                          %li
                            %a{:href=>'/vectors/styles'} Vector Styles

                    -else
                      %li
                        %a{:href=>"/accounts/edit/#{current_account.id}"} My Profile
                      %li
                        %a{:href=>'/conflicts'} My Conflicts
                      %li
                        %a{:href=>'/conflicts/new'} New Conflict
                      %li.dropdown#models
                        %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#models'}
                          = 'Models'
                          %b.caret
                        %ul.dropdown-menu
                          %li
                            %a{:href=>'/filters'} Filters
                          %li.divider
                          %li
                            %a{:href=>'/featureds'} Featured maps
                          %li
                            %a{:href=>'/vectors'} Vectors
                          %li
                            %a{:href=>'/vectors/styles'} Vector Styles

                    %li
                      %form#signout.hide{:action=>'/sessions/destroy',:method=>'post'}
                        %input{:value=>'delete',:name=>'_method',:type=>'hidden'}
                      %a{:href=>'#',:onclick=>'$("#signout").submit()'} Logout
                  -else
                    %li.dropdown#ejolt
                      %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#ejolt'}
                        %span.ej EJ
                        Atlas
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          %a{:href=>'/about'} About
                        %li
                          %a{:href=>'/disclaimer'} Disclaimer
                        %li
                          %a{:href=>'/credits'} Credits &amp; Collaborators
                        %li
                          %a{:href=>'/contact'} Contact
                    %li.home
                      %a{:href => "http://ejolt.org/"}= "EJOLT"
                    %li.dropdown#maps
                      %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#maps'}
                        = 'Maps'
                        %b.caret
                      %ul.dropdown-menu
                        -#%li
                          %a.disable{:href=>'#'} Featured Maps
                        %li
                          %a{:href=>'/country'} Country Maps
                        %li
                          %a{:href=>'/company'} Company Maps
                        %li
                          %a{:href=>'/commodity'} Commodity Maps
                    -if current_account.nil?
                      %li.dropdown#login
                        %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#login'}
                          = 'Login'
                          %b.right-caret
                        %ul.dropdown-menu.dropdown-right
                          =form_tag("/sessions/create/", :class => 'form login', :style=>'margin:0') do
                            .clearfix
                              .pull-left
                                &nbsp; Email:
                              .pull-left=text_field_tag :email, :value => params[:email]
                              .pull-left
                                Password: 
                              .pull-left=password_field_tag :password, :value => params[:password]
                              .pull-left=submit_tag('Enter', :class => :btn)
                              .pull-left.small
                                %a{:href=>"/sessions/login"} Help!

                .tagline
                  %p Environmental Justice Atlas
                .ejatlas-logo
      %header
        .container
          =yield_content :outer
          .inner= yield
          %br/
          %br/
          %br/

      =yield_content :body_end
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-49025282-1']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

      -if ENV['RACK_ENV'] == "production" and false
        :javascript
          window.onerror = function(message, url, lineNumber) {  
            console.log(message, url, lineNumber);
            $.ajax({
              type: 'POST',
              url: '/error',
              data: "message="+message+"&url="+window.location.href+"&file="+url+"&line="+lineNumber,  
              success: function(data,ts){
                //console.log('error reported:');
                //console.log(message, url, lineNumber);
              },
              error: function(data,ts,error){
                //console.log('error report failed:');
                //console.log(error);
                //console.log(message, url, lineNumber);
              }
            });
            return true;
          };  

      :javascript
        $full = false;
        (function( $ ) {
          $.ui.autocomplete.prototype.options.autoSelect = true;
          $( "body" ).on( "blur", ".autocomplete", function( event ) {
            var autocomplete = $( this ).data()['uiAutocomplete'] || $( this ).data()['ui-autocomplete'];
            if ( !autocomplete.options.autoSelect || autocomplete.selectedItem ) { return; }
            var matcher = new RegExp( "^" + $.ui.autocomplete.escapeRegex( $(this).val() ) + "$", "i" );
            autocomplete.widget().children( ".ui-menu-item" ).each(function() {
              var item = $( this )
              if ( matcher.test( item.value || item ) ) {
                autocomplete.selectedItem = item;
                return false;
              } else {
                $('.autocomplete').val('');
                return false
              }
            });
            if ( autocomplete.selectedItem ) {
              autocomplete._trigger( "select", event, { item: autocomplete.selectedItem } );
            }
          });

        }( jQuery ));
        $( ".autocomplete" ).autocomplete({
          minLength: 2,
          position: { my : "right top", at: "right bottom" },
          source: function( request, response ) {
            $source = eval($('.autocomplete:focus').attr('data-source'));
            var matcher = new RegExp( $.ui.autocomplete.escapeRegex( request.term ), "i" );
            response( $.grep( $source, function( value ) {
              value = value.value || value;
              return matcher.test( value );
            }) );
          },
          select: function( event, ui ) {
            //console.log(ui)
            $item = $('.autocomplete:focus');
            $item.val( "" );
            $id = $item.attr('id');
            $ul = $item.nextAll('ul')
            $html = "<span>"+ui.item.value+"</span> &nbsp; <a style='cursor:pointer' onclick=remove_li('"+$id+"',"+ui.item.id+")>Remove</a><input type='hidden' name='"+$id+"_add_"+ui.item.id+"'></input>"
            $($ul).append($('<li>', { id: $id+'_'+ui.item.id, html: $html}));
            return false;
          }
        });
        function remove_li (name, id) { 
          $target = $('li#'+name+'_'+id) 
          $target.find('span').css('text-decoration','line-through');
          $target.find('input').attr('name',name+"_remove_"+id);
          $target.find('a').text('Add back');
          $target.find('a').attr('onclick',"add_li('"+name+"',"+id+")");
        }
        function add_li (name, id) { 
          $target = $('li#'+name+'_'+id) 
          $target.find('span').css('text-decoration','none');
          $target.find('input').attr('name',name+"_add_"+id);
          $target.find('a').text('Remove');
          $target.find('a').attr('onclick',"remove_li('"+name+"',"+id+")");
        }


