-# coding: utf-8
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= @name ? @name + ' | ' + $title : $title + " | Mapping Environmental Justice"
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => 'text/html;charset=UTF-8', 'http-equiv' => "content-type"}/
    %meta{:content => 'Environmental Justice Atlas', :property => "og:title"}/
    %meta{:content => (@headline || $pagedesc), :property => "og:description"}/
    %meta{:content => $siteurl, :property => "og:url"}/
    %meta{:content => (@ogimage || $siteurl + '/images/ejatlas-og.jpg'), :property => "og:image"}/
    %meta{:content => (@headline || $pagedesc), :name => "description"}/
    %meta{:content => $pageauthor, :name => "author"}/
    %meta{:content => $pagekeyws, :name => "keywords"}/
    =stylesheet_link_tag 'main'
    =javascript_include_tag 'jQl'
    =yield_content :include

    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    / %link{:href => "assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / %link{:href => "assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / %link{:href => "assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/

  %body{"data-offset" => "0", "data-spy" => "scroll", "data-target" => ".subnav"}
    #top.contentwrapper
      .navbar.navbar-fixed-top{:role=>'navigation'}
        .navbar-inner
          .container
            .row
              .col-md-12
                %a.btn.btn-navbar.pull-left{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
                  %span.icon-bar
                  %span.icon-bar
                  %span.icon-bar
                .navbar-collapse.collapse
                  %ul.nav.nav-pills
                    %li
                      %a{:href => "/"}= "Home"
                    %li.dropdown#ejolt
                      %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#ejolt'}
                        = 'EJ Atlas'
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          %a{:href=>'/about'} About
                        %li
                          %a{:href=>'/faq'} FAQ
                        %li
                          %a{:href=>'/disclaimer'} Disclaimer
                        %li
                          %a{:href=>'/credits'} Credits &amp; Collaborators
                        %li
                          %a{:href=>'/contact'} Contact
                    %li
                      %a{:href => "http://ejolt.org/"}= "EJOLT"
                    %li.dropdown#maps
                      %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#maps'}
                        = 'Maps'
                        %b.caret
                      %ul.dropdown-menu
                        %li
                          %a.disable{:href=>'#'} Featured Maps
                        %li
                          %a{:href=>'/country'} Country Maps
                        %li
                          %a{:href=>'/company'} Company Maps
                        %li
                          %a{:href=>'/commodity'} Commodity Maps
                    -if current_account.nil?
                      %li.dropdown#login
                        %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#login',:onclick=>"$('.tagline').css('z-index',1000)"}
                          = 'Login'
                          %b.right-caret
                        %ul.dropdown-menu.dropdown-right
                          =form_tag("#{$consurl}/sessions/create/", :class => 'form login', :style=>'margin:0') do
                            .clearfix
                              .pull-left
                                &nbsp; Email:
                              .pull-left=text_field_tag :email, :value => params[:email]
                              .pull-left
                                Password: 
                              .pull-left=password_field_tag :password, :value => params[:password]
                              .pull-left=submit_tag('Enter', :class => :btn)
                              .pull-left.small
                                %a{:href=>"#{$consurl}/sessions/login"} Help!

                    -else
                      %li.dropdown#profile
                        %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#profile'}
                          = "#{current_account.name.split(/\s+/)[0]}"
                          %b.caret
                        %ul.dropdown-menu
                          %li
                            %a{:href=>"/accounts/edit/#{current_account.id}"} My Profile
                          %li
                            -if ['admin','editor'].include? current_account.role
                              %a{:href=>'/cache'} Cache
                            -else
                              %a{:href=>'/conflicts'} My Cases
                          %li
                            %a{:href=>'/conflicts/new'} New Conflict
                          %li
                            %form#signout.hide{:action=>'/sessions/destroy',:method=>'post'}
                              %input{:value=>'delete',:name=>'_method',:type=>'hidden'}
                            %a{:href=>'#',:onclick=>'$("#signout").submit()'} Logout

      %header
        .container
          =yield_content :outer
          .row
            .col-md-9.relative
              .inner= yield
            .col-md-3.relative
              .logo{:style=>'height:140px;margin-top:24px;'}
              #side.sidebar=yield_content :sidebar
      .push
    %footer.footer
      .container
        .row
          #footerbottom
            -#.col-md-1
              %a{:href=>'http://creativecommons.org/licenses/by-nc-sa/3.0/',:target=>'_blank'}
                %img#ccbutton{:src=>'/images/by-nc-sa.eu.png',:width=>'100%',:height=>'auto',:title=>'Lisans bilgileri için tıklayınız.',:alt=>'CC BY-NC-SA',:style=>'margin-top:6px'}
            .col-md-2
              %br/
              %a.large{:href=>'http://www.ejolt.org/'}
                .ejolt-logo{:style=>'margin:0;width:150px;height:56px;'}
              -#%span.large
                &copy;
                = DateTime.now.year
            .col-md-2
              %br/
              .clearfix.logos
                %a{:href=>'http://cordis.europa.eu/fp7/home_en.html'}
                  %img{:src=>'/images/fp7_white.gif'}
                %a{:href=>'http://europa.eu/'}
                  %img{:src=>'/images/eu.gif'}
            .col-md-5 &nbsp;
            .col-md-3
              .clearfix
                %a#thank_fb.pull-left.clearfix{:href=>'http://www.facebook.com/sharer.php?u=http://ejatlas.org/',:target=>'_blank'}
                  #img.pull-left
                %a#thank_tw.pull-left.clearfix{:href=>'https://twitter.com/intent/tweet?text=http%3A%2F%2Fejatlas.org%20-%20Mapping%20ecological%20conflicts%20and%20spaces%20of%20resistance&source=clicktotweet',:target=>'_blank'}
                  #img.pull-left

              -#.pull-right
                #totop{:onclick=>'window.location = "#top";'} ^
    :javascript
      $full = false;
      //L_PREFER_CANVAS= true;
      jQl.loadjQ('/javascripts/main.js'); 


