-# coding: utf-8
!!!
-#%html{:lang => "en", :dir => "ltr", :manifest=>"#{request.path == "/" ? "" : request.path}/manifest.txt"}
%html{:lang => I18n.locale.to_s, :dir=>$dir}
  %head
    %meta{:charset => "utf-8"}/
    %title= @name ? @name + ' | ' + $title : $title + " | Mapping Environmental Justice"

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => 'text/html;charset=UTF-8', 'http-equiv' => "content-type"}/

    %meta{:content => (@name ? @name + ' | ' + $title : $title + " | Mapping Environmental Justice"), :name => 'title'}
    %meta{:content => (@headline || $pagedesc), :name => "description"}/
    %meta{:content => $pageauthor, :name => "author"}/
    %meta{:content => $pagekeyws, :name => "keywords"}/

    / Facebook meta tags
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => (@name ? @name + ' | ' + $title : $title + " | Mapping Environmental Justice"), :property => 'og:title'}
    %meta{:content => (@title || $pagedesc), :property => "og:description"}/
    %meta{:content => "#{$siteurl}#{request.path}", :property => "og:url"}/
    %meta{:content => (@ogimage || $siteurl + '/images/ejatlas-fb.jpg?1'), :property => "og:image"}/
    %meta{:content => "Environmental Justice Atlas", :property => 'og:site_name'}

    / Twitter meta tags
    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => $tw_handle, :name => "twitter:site"}/
    %meta{:content => (@name ? @name + ' | ' + $title : $title + " | Mapping Environmental Justice"), :name => 'twitter:title'}
    %meta{:content => (@headline || $pagedesc), :name => "twitter:description"}/
    %meta{:content => (@ogimage || $siteurl + '/images/ejatlas-fb.jpg'), :name => "twitter:image"}/

    -if $dir == "ltr"
      %link{:href=>"/stylesheets/main-full.css",:rel=>"stylesheet",:type=>"text/css"}
    -elsif $dir == "rtl"
      %link{:href=>"/stylesheets/main-full-rtl.css",:rel=>"stylesheet",:type=>"text/css"}
    %script{:src=>"/javascripts/jQl.js",:type=>"text/javascript"}
    =yield_content :include

    /[if lt IE 9]
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    / %link{:href => "assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / %link{:href => "assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / %link{:href => "assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/

  %body{"data-offset" => "0", "data-spy" => "scroll", "data-target" => ".subnav"}
    =yield_content :fb
    -#survey.modal
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{:type=>'button','data-dismiss'=>'modal','aria-hidden'=>true} &times;
            %h4
              %strong Thanks for using our platform!
          .modal-body
            %p We commit to make our work as much as possible participative and to welcome all constructive suggestions and critiques.
            %p
              %strong 
                Would you like to 
                %a{:href=>'https://docs.google.com/forms/d/1jGi8V-8-0YVRjqZXV1NN2SkSMj9TT7H4JIH44HDq6IA/viewform',:target=>'_blank'} fill our survey 
                to help us improve our work?


    #top
      -if $dir == "ltr"
        .navbar.navbar-fixed-top{:role=>'navigation'}
          .navbar-inner
            %ul.nav.nav-pills{"data-help"=>"popover","data-placement"=>"bottom","title"=>"","data-content"=>t("v.help.site_menu")}
              %li.first
                %a &nbsp;
              %li.home
                %a{:href => "/"}= t "v.menu.home"
              %li.dropdown#ejolt
                %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#ejolt'}
                  -#%span.ej EJ
                  -#Atlas
                  =t "v.menu.ej_atlas"
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href=>'/about'}= t "v.menu.about"
                  %li
                    %a{:href=>'/disclaimer'}= t "v.menu.disclaimer"
                  %li
                    %a{:href=>'/credits'}= t "v.menu.credits_collaborators"
                  %li
                    %a{:href=>'/contact'}= t "v.menu.contact"
                  %li.divider
                  %li
                    %a{:href => "http://acknowlej.org/"}= t "v.menu.acknowl_ej"
                  %li
                    %a{:href => "http://ejolt.org/"}= t "v.menu.ejolt"
              %li.dropdown#maps
                %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#maps'}
                  = t "v.menu.maps"
                  %b.caret
                %ul.dropdown-menu
                  -if @featureds and @featureds.any?
                    -@featureds.each do |feat|
                      %li
                        %a{:href=>"/featured/#{feat.slug}"}= feat.name
                    %li.divider
                  %li
                    %a{:href=>'/country'}= t "v.menu.country_maps"
                  %li
                    %a{:href=>'/company'}= t "v.menu.company_maps"
                  %li
                    %a{:href=>'/commodity'}= t "v.menu.commodity_maps"

              -if current_account.nil?
                %li.dropdown#login
                  %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#login'}
                    = t "v.menu.login"
                    %b.right-caret
                  %ul.dropdown-menu.dropdown-right
                    =form_tag("/sessions/create/", :class => 'form login', :style=>'margin:0') do
                      .clearfix
                        .pull-left
                          &nbsp;
                          =t "v.menu.email"
                        .pull-left=text_field_tag :email, :value => params[:email]
                        .pull-left
                          =t "v.menu.password" 
                        .pull-left=password_field_tag :password, :value => params[:password]
                        .pull-left
                          %input.btn{:type=>"submit",:value=>t("v.menu.enter")}
                        .pull-left.small
                          %a{:href=>"/sessions/login"}= t "v.menu.help"
              -else
                %li.dropdown#profile
                  %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#profile'}
                    = "#{current_account.name.split(/\s+/)[0]}"
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href=>"//#{I18n.locale}.#{$domain}/accounts/edit/#{current_account.id}"}= t "v.menu.my_profile"
                    -if ["admin","editor"].include? current_account.role
                      %li
                        %a{:href=>"//#{I18n.locale}.#{$domain}/cache"}= t "v.menu.cache"
                    %li
                      %a{:href=>"//#{I18n.locale}.#{$domain}/conflicts"}= t "v.menu.my_conflicts"
                    %li
                      %a{:href=>"//#{I18n.locale}.#{$domain}/conflicts/new"}= t "v.menu.new_conflict"
                    %li.divider
                    %li
                      %form#signout.hide{:action=>'/sessions/destroy',:method=>'post'}
                        %input{:value=>'delete',:name=>'_method',:type=>'hidden'}
                      %a{:href=>'#',:onclick=>'$("#signout").submit()'}= t "v.menu.logout"
            .tagline
              %p= t "v.menu.environmental_justice_atlas"
            .ejatlas-logo#eja-logo

        %header
          =yield_content :outer
          .container-full
            #map.map.leftpane.noselect{:style=>"background:#78adce !important;"}
              -#bottompane.bottompane
                .inner=yield_content :bottom
            .resize#resize.noselect{:title=>'Drag to resize info pane',"data-help"=>"popover","data-placement"=>"right","title"=>"","data-content"=>t("v.help.resize_information_pane")}
              %span.glyphicon.glyphicon-forward{:title=>'Toggle info pane',"data-help"=>"popover","data-placement"=>"left","title"=>"","data-content"=>t("v.help.go_full_screen")}
            #rightpane.rightpane.graybg
              :javascript
                function getStyle(eId, strCssRule){ var oElm = document.getElementById(eId); var strValue = ""; if(document.defaultView && document.defaultView.getComputedStyle){ strValue = document.defaultView.getComputedStyle(oElm, "").getPropertyValue(strCssRule); } else if(oElm.currentStyle){ strCssRule = strCssRule.replace(/\-(\w)/g, function (strMatch, p1){ return p1.toUpperCase(); }); strValue = oElm.currentStyle[strCssRule]; } return strValue; }
                if (localStorage.key('mapWidth') && getStyle('map','position') == 'fixed'){
                  document.getElementById('map').style.width = localStorage['mapWidth']+"%";
                  document.getElementById('resize').style.left = localStorage['mapWidth']+"%";
                  document.getElementById('rightpane').style.width = (100-localStorage['mapWidth'])+"%";
                }
              .inner.whitebg= yield

      -if $dir == "rtl"
        %header
          =yield_content :outer
          .container-full
            #map.map.leftpane.noselect{:style=>"background-color:#7ca6d0"}
              -#bottompane.bottompane
                .inner=yield_content :bottom
            .resize#resize.noselect{:title=>'Drag to resize info pane',"data-help"=>"popover","data-placement"=>"left","title"=>"","data-content"=>"Resize the information pane"}
              %span.glyphicon.glyphicon-backward{:title=>'Toggle info pane',"data-help"=>"popover","data-placement"=>"right","title"=>"","data-content"=>"Go full screen",:style=>"cursor:w-resize"}
            #rightpane.rightpane.graybg
              :javascript
                function getStyle(eId, strCssRule){ var oElm = document.getElementById(eId); var strValue = ""; if(document.defaultView && document.defaultView.getComputedStyle){ strValue = document.defaultView.getComputedStyle(oElm, "").getPropertyValue(strCssRule); } else if(oElm.currentStyle){ strCssRule = strCssRule.replace(/\-(\w)/g, function (strMatch, p1){ return p1.toUpperCase(); }); strValue = oElm.currentStyle[strCssRule]; } return strValue; }
                if (localStorage.key('mapWidth') && getStyle('map','position') == 'fixed'){
                  document.getElementById('map').style.width = localStorage['mapWidth']+"%";
                  document.getElementById('resize').style.right = localStorage['mapWidth']+"%";
                  document.getElementById('rightpane').style.width = (100-localStorage['mapWidth'])+"%";
                }
              .inner.whitebg= yield

        .navbar.navbar-fixed-top{:role=>'navigation'}
          .navbar-inner
            %ul.nav.nav-pills{"data-help"=>"popover","data-placement"=>"bottom","title"=>"","data-content"=>"Site menu"}
              %li.first
                %a &nbsp;
              %li.home
                %a{:href => "/"}= t "v.menu.home"
              %li.dropdown#ejolt
                %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#ejolt'}
                  -#%span.ej EJ
                  -#Atlas
                  =t "v.menu.ej_atlas"
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href=>'/about'}= t "v.menu.about"
                  %li
                    %a{:href=>'/disclaimer'}= t "v.menu.disclaimer"
                  %li
                    %a{:href=>'/credits'}= t "v.menu.credits_collaborators"
                  %li
                    %a{:href=>'/contact'}= t "v.menu.contact"
                  %li.divider
                  %li
                    %a{:href => "http://acknowlej.org/"}= t "v.menu.acknowl_ej"
                  %li
                    %a{:href => "http://ejolt.org/"}= t "v.menu.ejolt"
              %li.dropdown#maps
                %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#maps'}
                  = t "v.menu.maps"
                  %b.caret
                %ul.dropdown-menu
                  -if @featureds and @featureds.any?
                    -@featureds.each do |feat|
                      %li
                        %a{:href=>"/featured/#{feat.slug}"}= feat.name
                    %li.divider
                  %li
                    %a{:href=>'/country'}= t "v.menu.country_maps"
                  %li
                    %a{:href=>'/company'}= t "v.menu.company_maps"
                  %li
                    %a{:href=>'/commodity'}= t "v.menu.commodity_maps"

              -if current_account.nil?
                %li.dropdown#login
                  %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#login'}
                    = t "v.menu.login"
                    %b.right-caret
                  %ul.dropdown-menu.dropdown-right
                    =form_tag("/sessions/create/", :class => 'form login', :style=>'margin:0') do
                      .clearfix
                        .pull-left
                          &nbsp;
                          =t "v.menu.email"
                        .pull-left=text_field_tag :email, :value => params[:email]
                        .pull-left
                          =t "v.menu.password" 
                        .pull-left=password_field_tag :password, :value => params[:password]
                        .pull-left
                          %input.btn{:type=>"submit",:value=>t("v.menu.enter")}
                        .pull-left.small
                          %a{:href=>"/sessions/login"}= t "v.menu.help"
              -else
                %li.dropdown#profile
                  %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#profile'}
                    = "#{current_account.name.split(/\s+/)[0]}"
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href=>"/accounts/edit/#{current_account.id}"}= t "v.menu.my_profile"
                    -if ['admin','editor'].include? current_account.role
                      %li
                        %a{:href=>'/cache'}= t "v.menu.cache"
                    %li
                      %a{:href=>'/conflicts'}= t "v.menu.my_conflicts"
                    %li
                      %a{:href=>'/conflicts/new'}= t "v.menu.new_conflict"
                    %li.divider
                    %li
                      %form#signout.hide{:action=>'/sessions/destroy',:method=>'post'}
                        %input{:value=>'delete',:name=>'_method',:type=>'hidden'}
                      %a{:href=>'#',:onclick=>'$("#signout").submit()'}= t "v.menu.logout"
            .tagline
              %p= t "v.menu.environmental_justice_atlas"
            .ejatlas-logo#eja-logo


    %footer
      .clearfix
        %a.large.pull-left{:href=>'http://acknowlej.org/'}
          .ack-logo
        %a.large.pull-left{:href=>'http://www.ejolt.org/'}
          .ejolt-logo
        -#%a.pull-left{:href=>'http://cordis.europa.eu/fp7/home_en.html',:target=>"_blank"}
          %img{:src=>'/images/fp7_white.gif',:title=>'Seventh Network Programme'}
        %a.pull-left{:href=>'http://envjustice.org/',:target=>"_blank"}
          %img{:src=>'/images/envjustice.png',:title=>'Environmental Justice',:style=>"max-height:40px; margin-top:-14px;"}
        %a.pull-left{:href=>'http://ictaweb.uab.cat/index.php/',:target=>"_blank"}
          %img{:src=>'/images/icta.png',:title=>'ICTA UAB',:style=>"max-height:40px; margin-top:-8px;"}
        %a.pull-left{:href=>'http://europa.eu/',:target=>"_blank"}
          %img{:src=>'/images/eu.jpg',:title=>'European Union'}
        %a.pull-left{:href=>'https://creativecommons.org/licenses/by-nc-sa/3.0/',:target=>"_blank"}
          %img{:src=>'/images/cc.png',:title=>'CC Attribution NonCommercial ShareAlike'}
        -#
          %a#thank_fb.pull-left.clearfix{:href=>'http://www.facebook.com/sharer.php?u=http://ejatlas.org/',:target=>'_blank'}
            #img.pull-left
          %a#thank_tw.pull-left.clearfix{:href=>'https://twitter.com/intent/tweet?text=http%3A%2F%2Fejatlas.org%20-%20Mapping%20ecological%20conflicts%20and%20spaces%20of%20resistance&source=clicktotweet',:target=>'_blank'}
            #img.pull-left

    :javascript
      $dir = "#{$dir}";
      $flo = $dir == "ltr" ? "left" : "right";
      function resetColumns() { }
      blocks = document.getElementsByClassName('block');
      rightWidth = parseInt(getStyle('rightpane','width').replace(/px$/,''));
      for (var i=0;i<blocks.length;i++) {
        el = blocks[i];
        elWidth = parseInt(el.getAttribute('data-width'));
        cols = Math.floor(rightWidth / elWidth);
        hori = el.parentNode.parentNode;
        siblings = hori.getElementsByClassName('block').length;
        if (cols == 0) {
          titles = hori.getElementsByClassName('title')
          for (var j=0;j<titles.length;j++) {
            titles[j].className = "title";
          }
          contents = hori.getElementsByClassName('content')
          for (var j=0;j<contents.length;j++) {
            contents[j].style.display = 'block';
          }
        } else if (cols == 1) {
          el.style.width = '100%';
          el.style.float = 'none';
          blockeds = el.getElementsByClassName('blocked');
          for (var j=0;j<blockeds.length;j++) {
            blockeds[j].style.display = 'inline-block';
          }
        } else if (siblings > 1){
          perc = Math.floor(100/Math.min(cols,siblings))
          el.style.width = (perc-2)+'%';
          el.style.margin = '0 2% 0 0';
          el.style.float = 'left';
          blockeds = el.getElementsByClassName('blocked');
          for (var j=0;j<blockeds.length;j++) {
            blockeds[j].style.display = 'none';
          }
        }
      };

    :javascript
      var $locale = "#{I18n.locale}";
      var attributeHash = { 
        "category_id": "#{ t "v.filter.category"}",
        "types": "#{ t "v.filter.type"}",
        "other_types": "#{ t "m.types.other"}",
        "description": "#{ t "f.conflict.description"}",
        "country_id": "#{ t "f.conflict.country"}",
        "province": "#{ t "f.conflict.state_or_province"}",
        "site": "#{ t "f.conflict.municipality_or_city_town"}",
        "accuracy_level": "#{ t "f.conflict.accuracy_of_location"}",
        "project_area": "#{ t "f.conflict.project_area"}",
        //"project_length": "#{ t "f.conflict.project_length"}",
        "population_type": "#{ t "f.conflict.type_of_population"}",
        "products": "#{ t "f.conflict.specific_commodities"}",
        //"other_products": "#{ t "f.conflict.other_commodities"}",
        "companies": "#{ t "f.menu.companies"}",
        "supporters": "#{ t "f.menu.ifis"}",
        //"other_supporters": "#{ t "f.conflict.Other IFI's"}",
        "ejos": "#{ t "f.conflict.environmental_justice_organizations_other_supporters"}",
        "govt_actors": "#{ t "f.conflict.relevant_government_actors"}",
        "mobilizing_groups": "#{ t "v.filter.mobilizing_groups"}",
        //"other_mobilizing_groups": "#{ t "f.conflict.Other Mobilizing Groups"}",
        "mobilizing_forms": "#{ t "v.filter.mobilizing_forms"}",
        //"other_mobilizing_forms": "#{ t "f.conflict.Other Mobilizing Forms"}",
        "env_impacts": "#{ t "m.env_impacts.environmental_impacts"}",
        "other_env_impacts": "#{ t "m.env_impacts.other_environmental_impacts"}",
        "hlt_impacts": "#{ t "m.hlt_impacts.health_impacts"}",
        "other_hlt_impacts": "#{ t "m.hlt_impacts.other_health_impacts"}",
        "sec_impacts": "#{ t "m.sec_impacts.socio_economical_impacts"}",
        "other_sec_impacts": "#{ t "m.sec_impacts.other_socio_economic_impacts"}",
        "conflict_events": "#{ t "m.conflict_events.outcomes"}",
        //"other_outcomes": "#{ t "m.conflict_events.other_outcomes"}",
        "project_details": "#{ t "f.conflict.project_details"}",
        "investment_string": "#{ t "f.conflict.level_of_investment"}",
        "affected_people": "#{ t "f.conflict.affected_population"}",
        "status_id": "#{ t "f.conflict.intensity_of_conflict"}",
        "reaction_id": "#{ t "m.reaction_id.reaction_stage"}",
        "start_date": "#{ t "f.conflict.start_conflict"}",
        "end_date": "#{ t "f.conflict.end_conflict"}",
        "project_status_id": "#{ t "v.filter.project_status"}",
        "suggested_alternatives": "#{ t "f.conflict.development_of_alternatives"}",
        "success_level": "#{ t "m.success_level.success_level"}",
        "success_reason": "#{ t "m.success_level.success_reason"}",
        "other_comments": "#{ t "f.conflict.other_comments"}"
      };

      var categoryHash = #{CGI.unescapeHTML($cathash.to_json).html_safe};

    -if ENV['RACK_ENV'] == 'development'
      :javascript
        conflict = false;
        $full = true;
        jQl.loadjQ('/javascripts/main-dev.js','/javascripts/map.js'); 
    -else
      :javascript
        conflict = false;
        $full = true;
        jQl.loadjQ('/javascripts/main.js'); 
    -if @color and @color.length > 1
      :javascript
        $(document).ready(function(){
          $('#map').css('background','#{@color}')
        });
    =yield_content :body_end
