-# coding: utf-8
!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title= @name ? @name + ' | ' + $title : $title + " | Mapping Environmental Justice"

    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => 'text/html;charset=UTF-8', 'http-equiv' => "content-type"}/

    %meta{:content => (@name ? @name + ' | ' + $title : $title + " | Mapping Environmental Justice"), :name => 'title'}
    %meta{:content => (@headline || $pagedesc), :name => "description"}/
    %meta{:content => $pageauthor, :name => "author"}/
    %meta{:content => $pagekeyws, :name => "keywords"}/

    / Facebook meta tags
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => (@name ? @name + ' | ' + $title : $title + " | Mapping Environmental Justice"), :property => 'og:title'}
    %meta{:content => (@title || $pagedesc), :property => "og:description"}/
    %meta{:content => "#{$siteurl}#{request.path}", :property => "og:url"}/
    %meta{:content => (@ogimage || $siteurl + '/images/ejatlas-fb.jpg?1'), :property => "og:image"}/
    %meta{:content => "Environmental Justice Atlas", :property => 'og:site_name'}

    / Twitter meta tags
    %meta{:content => "summary", :name => "twitter:card"}/
    %meta{:content => $tw_handle, :name => "twitter:site"}/
    %meta{:content => (@name ? @name + ' | ' + $title : $title + " | Mapping Environmental Justice"), :name => 'twitter:title'}
    %meta{:content => (@headline || $pagedesc), :name => "twitter:description"}/
    %meta{:content => (@ogimage || $siteurl + '/images/ejatlas-fb.jpg'), :name => "twitter:image"}/

    =stylesheet_link_tag 'main-full'
    =javascript_include_tag 'jQl'
    =yield_content :include

    /[if lt IE 9]
      <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    %link{:href => "/images/favicon.ico", :rel => "shortcut icon"}/
    / %link{:href => "assets/ico/apple-touch-icon-114-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}/
    / %link{:href => "assets/ico/apple-touch-icon-72-precomposed.png", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}/
    / %link{:href => "assets/ico/apple-touch-icon-57-precomposed.png", :rel => "apple-touch-icon-precomposed"}/

  %body{"data-offset" => "0", "data-spy" => "scroll", "data-target" => ".subnav"}
    =yield_content :fb
    #survey.modal
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{:type=>'button','data-dismiss'=>'modal','aria-hidden'=>true} &times;
            %h4
              %strong Thanks for using our platform!
          .modal-body
            %p We commit to make our work as much as possible participative and to welcome all constructive suggestions and critiques.
            %p
              %strong 
                Would you like to 
                %a{:href=>'https://docs.google.com/forms/d/1jGi8V-8-0YVRjqZXV1NN2SkSMj9TT7H4JIH44HDq6IA/viewform',:target=>'_blank'} fill our survey 
                to help us improve our work?


    #top
      .navbar.navbar-fixed-top{:role=>'navigation'}
        .navbar-inner
          %ul.nav.nav-pills{"data-help"=>"popover","data-placement"=>"bottom","title"=>"","data-content"=>"Site menu"}
            %li.first
              %a &nbsp;
            %li.home
              %a{:href => "/"}= "Home"
            %li.dropdown#ejolt
              %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#ejolt'}
                %span.ej EJ
                Atlas
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href=>'/about'} About
                %li
                  %a{:href=>'/disclaimer'} Disclaimer
                %li
                  %a{:href=>'/credits'} Credits &amp; Collaborators
                %li
                  %a{:href=>'/contact'} Contact
                %li.divider
                %li
                  %a{:href => "http://acknowlej.org/"}= "ACKnowl-EJ"
                %li
                  %a{:href => "http://ejolt.org/"}= "EJOLT"
            %li.dropdown#maps
              %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#maps'}
                = 'Maps'
                %b.caret
              %ul.dropdown-menu
                -Featured.where(published:true).select('name, slug').each do |feat|
                  %li
                    %a{:href=>"/featured/#{feat.slug}"}= feat.name
                %li.divider
                %li
                  %a{:href=>'/country'} Country Maps
                %li
                  %a{:href=>'/company'} Company Maps
                %li
                  %a{:href=>'/commodity'} Commodity Maps
            -if current_account.nil?
              %li.dropdown#login
                %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#login'}
                  = 'Login'
                  %b.right-caret
                %ul.dropdown-menu.dropdown-right
                  =form_tag("/sessions/create/", :class => 'form login', :style=>'margin:0') do
                    .clearfix
                      .pull-left
                        &nbsp; Email:
                      .pull-left=text_field_tag :email, :value => params[:email]
                      .pull-left
                        Password: 
                      .pull-left=password_field_tag :password, :value => params[:password]
                      .pull-left=submit_tag('Enter', :class => :btn)
                      .pull-left.small
                        %a{:href=>"/sessions/login"} Help!
            -else
              %li.dropdown#profile
                %a.dropdown-toggle{'data-toggle'=>'dropdown',:href=>'#profile'}
                  = "#{current_account.name.split(/\s+/)[0]}"
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a{:href=>"/accounts/edit/#{current_account.id}"} My Profile
                  %li
                    -if ['admin','editor'].include? current_account.role
                      %a{:href=>'/cache'} Cache
                    -else
                      %a{:href=>'/conflicts'} My Cases
                  %li
                    %a{:href=>'/conflicts/new'} New Conflict
                  %li.divider
                  %li
                    %form#signout.hide{:action=>'/sessions/destroy',:method=>'post'}
                      %input{:value=>'delete',:name=>'_method',:type=>'hidden'}
                    %a{:href=>'#',:onclick=>'$("#signout").submit()'} Logout
          .tagline
            %p Environmental Justice Atlas
          .ejatlas-logo#eja-logo

      %header
        =yield_content :outer
        .container-full
          #map.map.leftpane.noselect
            -#bottompane.bottompane
              .inner=yield_content :bottom
          .resize#resize.noselect{:title=>'Drag to resize info pane',"data-help"=>"popover","data-placement"=>"right","title"=>"","data-content"=>"Resize the information pane"}
            %span.glyphicon.glyphicon-forward{:title=>'Toggle info pane',"data-help"=>"popover","data-placement"=>"left","title"=>"","data-content"=>"Go full screen"}
          #rightpane.rightpane.graybg
            :javascript
              function getStyle(eId, strCssRule){ var oElm = document.getElementById(eId); var strValue = ""; if(document.defaultView && document.defaultView.getComputedStyle){ strValue = document.defaultView.getComputedStyle(oElm, "").getPropertyValue(strCssRule); } else if(oElm.currentStyle){ strCssRule = strCssRule.replace(/\-(\w)/g, function (strMatch, p1){ return p1.toUpperCase(); }); strValue = oElm.currentStyle[strCssRule]; } return strValue; }
              if (localStorage.key('mapWidth') && getStyle('map','position') == 'fixed'){
                document.getElementById('map').style.width = localStorage['mapWidth']+"%";
                document.getElementById('resize').style.left = localStorage['mapWidth']+"%";
                document.getElementById('rightpane').style.width = (100-localStorage['mapWidth'])+"%";
              }
            .inner.whitebg= yield

    %footer
      .clearfix
        %a.large.pull-left{:href=>'http://acknowlej.org/'}
          .ack-logo
        %a.large.pull-left{:href=>'http://www.ejolt.org/'}
          .ejolt-logo
        -#%a.pull-left{:href=>'http://cordis.europa.eu/fp7/home_en.html',:target=>"_blank"}
          %img{:src=>'/images/fp7_white.gif',:title=>'Seventh Network Programme'}
        %a.pull-left{:href=>'http://envjustice.org/',:target=>"_blank"}
          %img{:src=>'/images/envjustice.png',:title=>'Environmental Justice',:style=>"max-height:40px; margin-top:-12px;"}
        %a.pull-left{:href=>'http://europa.eu/',:target=>"_blank"}
          %img{:src=>'/images/eu.gif',:title=>'European Union'}
        %a.pull-left{:href=>'https://creativecommons.org/licenses/by-nc-sa/3.0/',:target=>"_blank"}
          %img{:src=>'/images/cc.png',:title=>'CC Attribution NonCommercial ShareAlike'}
        -#
          %a#thank_fb.pull-left.clearfix{:href=>'http://www.facebook.com/sharer.php?u=http://ejatlas.org/',:target=>'_blank'}
            #img.pull-left
          %a#thank_tw.pull-left.clearfix{:href=>'https://twitter.com/intent/tweet?text=http%3A%2F%2Fejatlas.org%20-%20Mapping%20ecological%20conflicts%20and%20spaces%20of%20resistance&source=clicktotweet',:target=>'_blank'}
            #img.pull-left

    :javascript
      function resetColumns() { }
      blocks = document.getElementsByClassName('block');
      rightWidth = parseInt(getStyle('rightpane','width').replace(/px$/,''));
      for (var i=0;i<blocks.length;i++) {
        el = blocks[i];
        elWidth = parseInt(el.getAttribute('data-width'));
        cols = Math.floor(rightWidth / elWidth);
        hori = el.parentNode.parentNode;
        siblings = hori.getElementsByClassName('block').length;
        if (cols == 0) {
          titles = hori.getElementsByClassName('title')
          for (var j=0;j<titles.length;j++) {
            titles[j].className = "title";
          }
          contents = hori.getElementsByClassName('content')
          for (var j=0;j<contents.length;j++) {
            contents[j].style.display = 'block';
          }
        } else if (cols == 1) {
          el.style.width = '100%';
          el.style.float = 'none';
          blockeds = el.getElementsByClassName('blocked');
          for (var j=0;j<blockeds.length;j++) {
            blockeds[j].style.display = 'inline-block';
          }
        } else if (siblings > 1){
          perc = Math.floor(100/Math.min(cols,siblings))
          el.style.width = (perc-2)+'%';
          el.style.margin = '0 2% 0 0';
          el.style.float = 'left';
          blockeds = el.getElementsByClassName('blocked');
          for (var j=0;j<blockeds.length;j++) {
            blockeds[j].style.display = 'none';
          }
        }
      };

    -if ENV['RACK_ENV'] == 'development'
      :javascript
        conflict = false;
        $full = true;
        jQl.loadjQ('/javascripts/main-dev.js','/javascripts/map.js?az'); 
    -else
      :javascript
        conflict = false;
        $full = true;
        jQl.loadjQ('/javascripts/main.js?x'); 
        $(document).ready(function(){
          window.onerror = function(message, url, lineNumber) {  
            $.ajax({
              type: 'POST',
              url: '/error',
              data: "message="+message+"&url="+window.location.href+"&file="+url+"&line="+lineNumber,  
              success: function(data,ts){
                //console.log('error reported:');
                //console.log(message, url, lineNumber);
              },
              error: function(data,ts,error){
                //console.log('error report failed:');
                //console.log(error);
                //console.log("!",message, url, lineNumber);
              }
            });
            return true;
          };  
        });
    -if @color and @color.length > 1
      :javascript
        $(document).ready(function(){
          $('#map').css('background','#{@color}')
        });
    =yield_content :body_end
