.row.whitebox
  .col-md-12
    -if @error
      #error.error
        !=@error
  :css
    .middle {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
    }
  .col-md-4
    .group
      =f.label :name
      =f.error_message_on :name
      =f.text_field :name, :class => :text_field

    .group
      -if ["admin","editor"].include?(current_account.role)
        %label Attached to:
        %br/
        %input.attachable_type{:type=>'radio', :name=>'vector_datum[attachable_type]', :value=>'Country', :checked=>''}
          %strong &nbsp; Country
        &nbsp;
        %input.attachable_type{:type=>'radio', :name=>'vector_datum[attachable_type]', :value=>'Featured'}
          %strong &nbsp; Featured Map
      -else
        .hide
          %input.attachable_type{:type=>'radio', :name=>'vector_datum[attachable_type]', :value=>'Country'}
          %input.attachable_type{:type=>'radio', :name=>'vector_datum[attachable_type]', :value=>'Featured', :checked=>''}

    .group
      %label#vector_datum_attachable_id Featured:
      %select#vector_datum_attachable_id{:name=>'vector_datum[attachable_id]'}
    :javascript
      var attachables = {
        'Country': "#{@countries}",
        'Featured': "#{@featureds}",
      }
      $("input.attachable_type[value='#{@vector.attachable_type}']").prop('checked',true);
      $('select#vector_datum_attachable_id').html(attachables[$("input.attachable_type:checked").val()]);
      $("select#vector_datum_attachable_id option[value='#{@vector.attachable_id}']").prop('selected',true);
      $('label#vector_datum_attachable_id').text(#{@vector.attachable_type}+":");
      $('input.attachable_type').on('change',function(){
        val = $(this).val();
        $('select#vector_datum_attachable_id').html(attachables[val]);
        $('select#vector_datum_attachable_id').focus();
        $('label#vector_datum_attachable_id').text(val+":");
      });

    .group
      =f.label :url
      =f.error_message_on :url
      =f.text_field :url, :class => :text_field

    -unless @vector.new_record?
      %br/
      .middle or
      %br/

      .group
        %label
          Vector file
          %small (ZIP, KML or KMZ)
        .clearfix
          %input.pull-left#vector_file{:type=>'file',:name=>'vector[file]',:value=>(@vd['file'] if @vd)}
          %input.pull-right{:type=>'text',:name=>'precision',:value=>'2',:style=>'min-width:24px !important; width:24px !important;'}
          %span.pull-right{:style=>'line-height:28px;'} Precision &nbsp;

        %label CSV file with statistical data:
        .clearfix
          %input#vector_data{:type=>'file',:name=>'vector[stat_file]'}
        %label
          CSV file with legend color data
          %small (choropleth only)
        .clearfix
          %input#vector_legend{:type=>'file',:name=>'vector[legend_file]'}
      :javascript
        $('#vector_file').on('change',function(){
          $('input#vector_datum_url').val('');
        });
        $('input#vector_datum_url').on('change',function(){
          $('#vector_file').val('');
        });


  .col-md-4
    .group
      =f.label :description
      =f.error_message_on :description
      ~f.text_area :description, :class => :text_area, :rows=>5

    .group
      =f.label :source
      =f.error_message_on :source
      =f.text_field :source, :class => :text_field

    .group
      =f.label :link
      =f.error_message_on :link
      =f.text_field :link, :class => :text_field

    .group
      .required=f.error_message_on :geometry_type
      =f.label 'geometry_type'
      %label.checkbox.inline.gtype
        %input.gtype{:type=>'radio',:value=>'point',:name=>'vector_datum[geometry_type]'} &nbsp;Point
      %label.checkbox.inline.gtype
        %input.gtype{:type=>'radio',:value=>'line',:name=>'vector_datum[geometry_type]'} &nbsp;Line
      %label.checkbox.inline.gtype
        %input.gtype{:type=>'radio',:value=>'polygon',:name=>'vector_datum[geometry_type]',:checked=>true} &nbsp;Polygon

    .group
      .required=f.error_message_on :status
      =f.label 'Status'
      %label.checkbox.inline.apstat
        %input.apstat{:type=>'radio',:value=>'draft',:name=>'vector_datum[status]'} &nbsp;Draft
      %label.checkbox.inline.apstat
        %input.apstat{:type=>'radio',:value=>'preview',:name=>'vector_datum[status]'} &nbsp;Preview
      %label.checkbox.inline.apstat
        %input.apstat{:type=>'radio',:value=>'published',:name=>'vector_datum[status]'} &nbsp;Published

    .group
      %label Show by default? &nbsp;
      =f.label :shown, :class => 'hide'
      =f.error_message_on :shown
      %input.shown{:type=>'radio',:value=>'1',:name=>'vector_datum[shown]'} &nbsp;Yes
      %input.shown{:type=>'radio',:value=>'0',:name=>'vector_datum[shown]'} &nbsp;No
      
      :javascript
        $('input.gtype[value=#{@vector.geometry_type}]').prop('checked',true);
        $('input.apstat[value=#{@vector.status}]').prop('checked',true);
        $('input.shown[value=#{@vector.shown}]').prop('checked',true);


  .col-md-4
    .group
      =f.label :vector_style_id
      =f.error_message_on :vector_style_id
      =f.select :vector_style_id, :collection => @styles, :fields => [:name, :id], :include_blank => true, :class=>'basic_input'

    %br/


    .group.navform.wat-cf
      =f.submit pat(:save), :class => 'btn btn-warning', :style=>'width:180px;font-weight:bold'
