-# coding: utf-8
%html{:lang => I18n.locale.to_s, :dir=>I18n.locale.to_s == "ar" ? "rtl" : "ltr"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      a { color: #049cdb; text-decoration:none; }
      a:hover { text-decoration:underline; }
    -if I18n.locale.to_s == "ar"
      :css
        p { 
          direction: rtl; 
          text-align: right;
        }
  %body{:style=>'background:#fff'}
    %div{:style => "width: 100%; max-width: 600px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; text-align:left; line-height:150%;padding: 48px;"}
      %p
        = I18n.t("emails.general.dear_var", account_name: @account.name)
        %br/
        %br/
        =I18n.t("emails.conflict_locale_suggestion.var_has_marked_case_var", suggesting_account: @suggesting_account.name, conflict_name: @conflict.name, language: @language).sub(@suggesting_account.name,"<b>#{@suggesting_account.name}</b>").sub(@conflict.name,"<b>#{@conflict.name}</b>").sub(@language,"<b>#{@language}</b>")
        %br/
        %br/
        =I18n.t("emails.conflict_locale_suggestion.please_click_link_below_to")
        %br/
        %br/
        %a{:href=>"#{Admin.local_url(@cls.locale)}/conflicts/translate/#{@conflict.id}",:target=>'_blank'}= "#{Admin.local_url(@cls.locale)}/conflicts/translate/#{@conflict.id}"
        %br/
        %br/
        = I18n.t("emails.conflict_locale_suggestion.please_use_this_link_to")
        %br/
        %br/
        %a{:href=>"#{$siteurl}/conflicts/auto_translate/#{@cls.id}",:target=>'_blank'}= "#{$siteurl}/conflicts/auto_translate/#{@cls.id}"
        %br/
        %br/
        = I18n.t("emails.general.best_wishes")
        %br/
        %br/
        = I18n.t("emails.general.ejatlas_editors")
