-# coding: utf-8
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      a { color: #049cdb; text-decoration:none; }
      a:hover { text-decoration:underline; }
  %body{:style=>'background:#fff'}
    %div{:style => "width: 100%; max-width: 600px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; text-align:left; line-height:150%;padding: 48px;"}
      %p
        Dear Editor,
        %br/
        %br/
        = "The user <a href='mailto:#{@account.email}'>#{@account.name}</a> has sent a message to you concerning the case <a href='http://console.ejatlas.org/conflicts/edit/#{@conflict.id}'>#{@conflict.name}</a>:"
        %br/
        %br/
        = @msg
        %br/
        %br/
        = "#{$goodies.sample},"
        %br/
        = "#{$namies.sample} the EJAtlas Bot"
        %br/
