-# coding: utf-8
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    :css
      a { color: #049cdb; text-decoration:none; }
      a:hover { text-decoration:underline; }
  %body{:style=>'background:#fff'}
    %div{:style => "width: 100%; max-width: 600px; font-family: Helvetica, Arial, sans-serif; font-size: 14px; text-align:left; line-height:150%;padding: 48px;"}
      %p
        = "Dear #{@collab.name},"
        %br/
        %br/
        = "Please note that the EJAtlas editors have reviewed the case you submitted:"
        %br/
        = "<a href='http://ejatlas.org/conflicts/edit/#{@conflict.id}'>#{@conflict.name}</a>"
        %br/
        %br/
        ="They have left the following message(s):"
        %br/
        %blockquote
          %em= @msg.gsub(/\n/,'<br />')
        %br/
        Thank you very much for your valuable contribution, which makes possible the making of the largest and rich database on socio-environmental conflicts in the world.
        %br/
        %br/
        In solidarity, 
        %br/
        the EJatlas editors
        %br/
