-# coding: utf-8
.row.wide
  .col-md-6
    .hero-unit
      %h1.title
        =mt('Financial institutions to merge')
    .inner
      %p Please type the keywords below, separated by commas
      %form{:method=>'POST',:action=>'/ifis/merging'}
        .row
          .col-sm-10
            %textarea{:name=>'keys'}= @keywords.keys[0] == "blank search" ? "" : @keywords.keys.join(', ')
          .col-sm-2
            %button{:type=>'submit'} Submit

  .col-md-6
    .hero-unit.hide-on-small
      %h1.title &nbsp;
    .inner
      %p or select a sub-platform to see all items from that database.
      %form{:method=>'POST',:action=>'/ifis/locale'}
        .row
          .col-sm-10
            %select{:name=>'locale'}
              %option{:disabled=>true, :selected=>true} Pick a platform
              %option{:value=>:it} Italian
              %option{:value=>:tr} Turkish
          .col-sm-2
            %button{:type=>'submit'} Submit
.row.wide
  .col-md-12
    .inner
      -@keywords.each do |k,v|
        -unless v.any?
          .well
            %h3= "No data for #{k}."
          -next
        .well
          %h3
            %b= k
            %small= " - #{v.length} results found"
          %form.merge{:method=>'POST',:action=>"/ifis/mergethem/"}
            %ul
            -v.each do |s|
              %li.clearfix{:style=>'list-style-type:none'}
                .pull-left
                  &nbsp;
                  %input{:type=>'radio',:name=>"a_#{k}",:value=>s[:id]}
                  &nbsp;
                .pull-left
                  &nbsp;
                  %input{:type=>'checkbox',:name=>"p_#{s[:id]}"}
                  &nbsp;
                .pull-left
                  -if s.has_key?(:former)
                    %span.badge{:style=>"width: 32px; background-color: #666; border-radius: 0; cursor: default;",:title=>"This item is originating from the sub-platform in #{$iso639[s[:former].downcase]}."}=s[:former]
                  -else
                    %span.badge{:style=>"width: 32px; background-color: #f5f5f5; color: #333; cursor: default;",:title=>"This item is originating from the international platform."} EJ
                  &nbsp;
                  -if s[:name].length > 48
                    %span{:title=>s[:name]}=s[:name][0..48]+"..."
                  -else
                    %span=s[:name]
                  -if s.has_key?(:acronym)
                    %b{:style=>"color:#aaa"}="(#{s[:acronym]})"
                  -if s.has_key?(:country)
                    %small="[#{s[:country]}]"
                    &nbsp;
                  %span.badge{:style=>"background-color: #17a2b8; cursor: default;",:title=>"Approved conflicts:\n#{s[:appd]}"}=s[:appc]
                  %span.badge{:style=>"background-color: #cccccc; cursor: default;",:title=>"Drafts:\n#{s[:rest]}"}=s[:resc]
                  %a{:target=>'_blank',:href=>"/ifis/edit/#{s[:id]}",:title=>"#{s[:slug]} (##{s[:id]})"} edit
            %br/
            %input{:type=>'hidden',:value=>k,:name=>'token'}
            %button{:type=>'submit'} Merge
            %button{:type=>'submit'} Delete
:javascript
  $(document).ready(function(){
    $('.inner').on('change','input[type=radio]',function(e){
      $('input[type=checkbox]').removeAttr('disabled');
      $(this).parent().next('.pull-left').find('input[type=checkbox]').attr('checked',false);
      $(this).parent().next('.pull-left').find('input[type=checkbox]').attr('disabled',true);
    })
    $('.inner').on('click','form.merge button[type=submit]',function(e){
      e.preventDefault();
      data = $(this).closest('form').serialize();
      data += "&act="+$(this).text().toLowerCase()
      baby = $(this)
      $.ajax({
        type: 'POST',
        url: '/ifis/mergethem',
        data: data, 
        success: function(data,ts){
          baby.closest('.well').html(data);
        }
      })
    })
  })

